body {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #33;
    background:
    url('background_paint.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}
.header {
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar-brand {
    color: #fff;
    position: relative;
}

.navbar-brand:hover {
    color: #082567;
}
.btn {
    margin: 0 10px;
    margin-bottom: 10px;
}
.btn-primary {
    display: inline-block;
    vertical-align: top;
    color: #fce38a;
}
.btn-primary:hover {
    color: #082567;
}
.btn-success {
    color: #fce38a;
}

.btn-add {
    color: #fce38a;
    background-color: #4CAF50;
    border: none;
    color: white;
}
.course-card {
    width: 300px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}
.card-body{
    background-color: white;
}
.card-title{
    width: 260px;
    height: 24px;
    overflow:hidden;
}
.card-text{
    width: 260px;
    height: 22.5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lesson-card{
    height: 90px;

    border-style: solid;
    border-color: black;
    margin: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    padding: 24px 24px 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.c-button {

    min-width: 50px;
    min-height: 50px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;

    cursor: pointer;
    border-radius: 50%;
}

.c-button:hover {
  background: #1d49aa;
}

.my-btn {

}

© 2022 GitHub, Inc.
