body {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #33;
    background:
    url('background1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}
.header {
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar-brand {
    color: #fff;
    position: relative;
}

.navbar-brand:hover {
    color: #082567;
}
.btn {
    margin: 0 10px;
    margin-bottom: 10px;
}
.btn-primary {
    display: inline-block;
    vertical-align: top;
    color: #fce38a;
}
.btn-primary:hover {
    color: #082567;
}
.btn-success {
    color: #fce38a;
}

.btn-add {
    color: #fce38a;
    background-color: #4CAF50;
    border: none;
    color: white;
}
.course-card {
    width: 300px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}
.card-body{
    background-color: white;
}
© 2022 GitHub, Inc.