asn1crypto==0.24.0
httplib2==0.14.0
launchpadlib==1.10.13
oauth==1.0.1
oauthlib==3.1.0
Pillow==7.0.0
pipreqs==0.4.11
pyOpenSSL==19.0.0
PyQt5==5.14.1
python-dateutil==2.7.3
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
simplejson==3.16.0
system-service==0.3
systemd-python==234
ubuntu-advantage-tools==27.8
ubuntu-drivers-common==0.0.0
urllib3==1.25.8
