{% extends "base.html" %}

{% block content %}
<h1>{{ course_data.name }}</h1>
<p style="display: block; /* or inline-block, at least its a block element */
    width: 100%; /* or width is certain by parent element */
    height: auto; /* height cannot be defined */
    word-break: break-all; /*  */
    word-wrap: break-word; /* if you want to cut the complete word */
    white-space: normal; /* be sure its not 'nowrap'! ! ! :/ */">{{ course_data.about }}</p>
<h2>Lessons</h2>
{% for less in course_data.lessons %}
<div class="lesson-card">
    <h5 class="card-title" style="position: absolute;">{{ less.name }}</h5>
    <p class="card-text">{{ less.about }}</p>
    <a href="/courses/{{ course_data.id }}/lesson/{{ less.id }}" class="btn btn-primary">Перейти
        на урок</a>
    {% if current_user.teacher %}
    <a href="/courses/{{ course_data.id }}/lesson_delete/{{ less.id }}" class="btn btn-danger">Удалить
        урок</a>
    {% endif %}
</div>
{% endfor %}

{% if current_user.teacher %}
<div>
    <a href="/make_lesson/{{ course_data.id }}" class="btn btn-add">Добавить урок</a>
</div>
<br>
<br>
<div>
    <a href="/course/{{ course_data.id }}/pupils" class="btn btn-add">Просмотреть учеников курса</a>
</div>
{% endif %}
<!--<br>-->
<!--{% for pupil in course_data.users %}-->
<!--{% if pupil.id != current_user.id %}-->
<!--<a href="/pupil/{{ pupil.id }}" class="btn btn-primary">{{ pupil.name }}</a>-->
<!--<a href="/delete_pupil_from_course/{{ course_data.id }}/{{ pupil.id }}" class="btn btn-danger">Удалить</a>-->
<!--<br>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--<a href="/add_users_to_course/{{ course_data.id }}" class="btn btn-add">-->
<!--    Добавить учеников-->

{% endblock %}
