{% extends "base.html" %}

{% block content %}
<div>
{% for item in courses %}
    <div class="course-card">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.about }}</p>
        <a href="/courses/{{ item.id }}" class="btn btn-primary">Перейти на курс</a>
      {% if current_user.teacher %}
        <a href="/courses_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
      {% endif %}
      </div>
    </div>

{% endfor %}
{% if current_user.teacher %}
    <div class="course-card">
        <a class="btn btn-add" href="/make_course">Добавить курс</a>
    </div>
{% endif %}
</div>
{% endblock %}
