{% extends "base.html" %}

{% block content %}
<div style="vertical-align: middle; justify-content: center">
    {% if not courses %}
    {% if not current_user.teacher %}
    <h1>На данный момент вы не подключены ни к одному курсу.
        Свяжитесь с вашим учителем, чтобы он добавил вас</h1>
    {% else %}
    <h1>На данный момент вы не создали ни одного курса.
        Чтобы создать курс, нажмите кнопку "Добавить курс"</h1>
    {% endif %}
    {% endif %}
    {% for item in courses %}
    <div class="course-card">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.about }}</p>
            <a href="/courses/{{ item.id }}" class="btn btn-primary">Перейти на курс</a>
            {% if current_user.teacher %}
            <a href="/courses_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
            <a href="/add_users_to_course/{{ item.id }}" class="btn btn-add">
                Добавить учеников
            </a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
    {% if current_user.teacher %}

    <!--    <div class="course-card">-->
    <!--        <div class="card-body">-->
    <!--    <div style="width: 160px; height: 160px; display: inline-block;" 510 162>-->
    <div style="width: 510px; height: 162px; display: inline-block; margin: 10px 10px 10px 10px; justify-content: center">
        <a style="    vertical-align: middle;
                  margin-top: 10px;
                  margin-bottom: 75px;
                  position: relative;
              "
           class="btn btn-add" href="/make_course">Добавить курс</a>
    </div>
    <!--        </div>-->
    <!--    </div>-->
    {% endif %}
</div>
{% endblock %}
