{% extends "base.html" %}

{% block content %}
<h1>Добавление урока</h1>
<form action="" method="post" name="checks">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </p>
    <h1>Слова урока</h1>
    {% for word in dictionary %}
    <label class="container"> {{ word.hieroglyph }}
        <input type="checkbox" name="lesson_word" value='{{ word.id }}'>
        <span class="checkmark"></span>
    </label>
    {% endfor %}
    <h1>Тренажеры урока</h1>
    {% for trainer in trainings %}
    <label class="container"> {{ trainer }}
        <input type="checkbox" name="lesson_trainer" value='{{ trainer }}'>
        <span class="checkmark"></span>
    </label>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
