{% extends "base.html" %}

{% block content %}
<style>
    .column {
        float: left;
        width: 20%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
</style>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.hieroglyph.label }}<br>
        {{ form.hieroglyph(class="form-control") }}<br>
        {% for error in form.hieroglyph.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.translation.label }}<br>
        {{ form.translation(class="form-control", id="translation") }}<br>
        {% for error in form.translation.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <div class="form-group" style="display: flex;
                                   align-items: center;
                                   justify-content: center;">
        <div style="height: 600px; width: 750px">
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column">
                    <input type="file" accept="audio/*"
                           class="form-control-file" id="phrase_audio" name="phrase_audio"
                           value='{{ phrase_audio_file }}' hidden>
                    <label id="phrase_audio_button" for="phrase_audio" style="min-width: 75px; min-height: 75px"
                           class="c-button">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
                            <polygon points="67,57 67,157, 157,107"
                                     style="fill:lime;fill-rule:evenodd;"/>
                        </svg>
                    </label>
                </div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column">
                    <input type="file" accept="image/*" onchange="fileLoaders[0](event)"
                           class="form-control-file"
                           id="up" name="up" value="{{ up_file }}" hidden>
                    <label class="btn-primary" for="up">
                        <img id="up_output" width="100%" height="100%"
                             src="{{ up_start_preview }}">
                    </label>
                </div>
                <div class="column"></div>
                <div class="column"></div>
            </div>

            <div class="row">
                <div class="column">
                    <input type="file" accept="audio/*"
                           class="form-control-file" id="translation_audio" name="translation_audio"
                           value='{{ translation_audio_file }}' hidden>
                    <label id="translation_audio_button" for="translation_audio" style="min-width: 75px; min-height: 75px"
                           class="c-button">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
                            <polygon points="67,57 67,157, 157,107"
                                     style="fill:lime;fill-rule:evenodd;"/>
                        </svg>
                    </label>
                </div>
                <div class="column">
                    <input type="file" accept="image/*" onchange="fileLoaders[1](event)"
                           class="form-control-file" id="left" name="left" value="{{ left_file }}"
                           hidden>
                    <label class="btn-primary" for="left">
                        <img id="left_output" width="100%" height="100%"
                             src="{{ left_start_preview }}">
                    </label>
                </div>
                <div class="column">
                    <input type="file" accept="image/*" onchange="fileLoaders[2](event)"
                           class="form-control-file" id="front" name="front" value="{{ front_file }}"
                           hidden>
                    <label class="btn-primary" for="front">
                        <img id="front_output" width="100%" height="100%"
                             src="{{ front_start_preview }}">
                    </label>
                </div>
                <div class="column">
                    <input type="file" accept="image/*" onchange="fileLoaders[3](event)"
                           class="form-control-file" id="right" name="right" value="{{ right_file }}"
                           hidden>
                    <label class="btn-primary" for="right">
                        <img id="right_output" width="100%" height="100%"
                             src="{{ right_start_preview }}">
                    </label>
                </div>
                <div class="column"></div>
            </div>
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column">
                    <input type="file" accept="image/*" onchange="fileLoaders[4](event)"
                           class="form-control-file" id="down" name="down" value="{{ down_file }}"
                           hidden>
                    <label class="btn-primary" for="down">
                        <img id="down_output" width="100%" height="100%"
                             src="{{ down_start_preview }}">
                    </label>
                </div>
                <div class="column">
                    <input type="file" accept="audio/*"
                           class="form-control-file" id="transcription_audio"
                           name="transcription_audio" value='{{ transcription_audio_file }}' hidden>
                    <label id="transcription_audio_button" for="transcription_audio" style="min-width: 75px; min-height: 75px"
                           class="c-button">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
                            <polygon points="67,57 67,157, 157,107"
                                     style="fill:lime;fill-rule:evenodd;"/>
                        </svg>
                    </label>
                </div>
                <div class="column"></div>
            </div>

        </div>


    </div>

    {{ form.submit(type="submit", class="btn btn-primary") }}
</form>
<script>
    fileLoaders = [0, 0, 0, 0, 0, 0, 0, 0]
    id_list = ['up_output', "left_output", "front_output", "right_output", "down_output",
               "transcription_audio_output", "phrase_audio_output"]
    start_values = []
    for (let i = 0; i < 5; i += 1){
        var tmp_loader = function(event) {
            var output = document.getElementById(id_list[i]);
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
        fileLoaders[i] = tmp_loader;
    }

    translation_input = document.getElementById("hieroglyph");
    translation_input.value = "{{ prev_hieroglyph }}";
    translation_input = document.getElementById("translation");
    translation_input.value = "{{ prev_translation }}";

    // alert('{{ is_transcription_audio }}');
    is_transcription_audio = '{{ is_transcription_audio }}';
    is_phrase_audio = '{{ is_phrase_audio }}';
    is_translation_audio = '{{ is_translation_audio }}';

    transcription_audio = document.getElementById("transcription_audio");
    transcription_audio.addEventListener("change", function(event){
        button = document.getElementById("transcription_audio_button");
        val = transcription_audio.value;
        // alert(val);
        if (val != ""){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("transcription_audio_button");

    if ( ((transcription_audio.value != "") || (is_transcription_audio)) == 'true' ){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


    translation_audio = document.getElementById("translation_audio");
    translation_audio.addEventListener("change", function(event){
        button = document.getElementById("translation_audio_button");
        val = translation_audio.value;
        if (val != ""){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("translation_audio_button");
    if (((translation_audio.value != "")  || (is_translation_audio)) == 'true'){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


    phrase_audio = document.getElementById("phrase_audio");
    phrase_audio.addEventListener("change", function(event){
        button = document.getElementById("phrase_audio_button");
        val = phrase_audio.value;
        // alert(val);
        if (val != "" || is_phrase_audio){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("phrase_audio_button");
    // alert(phrase_audio.value);
    if (((phrase_audio.value != "")  || (is_phrase_audio)) == 'true'){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }
    // audioColorChange("translation_audio")
    // audioColorChange("transcription_audio");
    // audioColorChange("phrase_audio");
    // alert("{{ translation_audio_file }}");

</script>
{% endblock %}
