{% extends "base.html" %}

{% block content %}
<a href="{{ back_url }}" class="btn btn-primary my-btn" style="color: white;"> Назад </a>
<h1 style="color: white;"> id: {{ trainer.id }} </h1>
<h1 style="color: white;"> name: {{ trainer.name }} </h1>
<div class="trainer">
    <div class="task-box">
        <img src="" class="task-image" >
    </div>
    <div class="answer-box">
        {% for i in range(answer_button_number) %}
        <button id="{{ i }}" class="ans-button" name="ans1" value="myimage">
            <img name="{{ i }}" src=""/>  <!--value="myimage"-->
        </button>
        {% endfor %}
    </div>
    <a id="continue" class="btn btn-primary my-btn" style="color: white;">Продолжить</a>
</div>
<script>
    var width = window.innerWidth
    var height = window.innerHeight
    var extra_size_ansbut = 50;
    var img_size = 100;

    var lesson = "{{ lesson_words }}";
    lesson = lesson.split(";;;");
    for (let i = 0; i < lesson.length; i += 1){
        lesson[i] = lesson[i].split(";");
    }
    var results = [];
    var unlearned = [];
    for (let i = 0; i < lesson.length; i++) {
        results.push(false);
        unlearned.push(i);
    }
    var current_word = 0;
    var check_side = {{ trainer.check_side }};
    var ans_side = {{ trainer.ans_side }};

    function shuffle(array) {
      let currentIndex = array.length,  randomIndex;
      while (currentIndex != 0) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;
        [array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]];
      }
      return array;
    }

    function resultsCheck(array){
        is_true = true;
        for (let i = 0; i < array.length; i++){
            if (!array[i]){
                is_true = false;
            }
        }
        return is_true;
    }

    function ansButtonClick(event){
        val = event.target.value;
        unlearned = unlearned.slice(1, unlearned.length);  // удаляем первый элемент

        if (val == lesson[current_word][ans_side]){
            results[current_word] = true;
            // alert("correct")
            // если ответ верный ничего не делаем
            if (event.target.type == undefined){
                butId = parseInt(event.target.name);
                // alert(butId);
                ev_but = document.getElementById(butId);
                ev_but.style.backgroundColor = 'green';
                // ev_but.style.color = 'blue';
            } else {
                event.target.style.backgroundColor = 'green';
                // event.target.style.color = 'blue';
            }
        } else {
            //alert("incorrect")
            ans_buttons = document.getElementsByClassName("ans-button");
            for (let i = 0; i < ans_buttons.length; i += 1){
                if (ans_buttons[i].value == lesson[current_word][ans_side]){
                    right_answer_id = i;
                    // alert(right_answer_id);
                    break;
                }
                // alert("for");
            }
            // alert("incorrect")

            // правильный ответ становится зеленым
            butId = right_answer_id;
            // alert(butId);
            ev_but = document.getElementById(butId);
            ev_but.style.backgroundColor = 'green';

            // нажатая кнопка становится красной
            if (event.target.type == undefined){  // если человек нажал на картинку
                butId = parseInt(event.target.name);
                // alert(butId);
                ev_but = document.getElementById(butId);
                ev_but.style.backgroundColor = 'salmon';
                // ev_but.style.color = 'blue';
            } else {  // если человек нажал на саму кнопку
                event.target.style.backgroundColor = 'salmon';
                // event.target.style.color = 'blue';
            }
            results[current_word] = false;
            // если ответ неверный, добавляем элемент в конец unlearned
            unlearned.push(current_word);
        }
        ans_buttons = document.getElementsByClassName("ans-button");
        for (let i = 0; i < ans_buttons.length; i += 1){
            ans_buttons[i].disabled = true;
        }
        // alert(unlearned);
        // берем следующий элемент unlearned
        if (resultsCheck(results)){
            // alert("finished");
            continue_button = document.getElementById("continue");
            continue_button.innerText = "Вернуться к уроку";
            continue_button.href = "{{ back_url }}";
            continue_button.removeEventListener("click", continueButtonClick, false);
        } else {
            current_word = unlearned[0];
        }
        // buttonsInit();
    }

    function continueButtonClick(event){
        buttonsInit();
    }

    // alert(ans_buttons[0]);
    function buttonsInit(){
        // задаем задание
        task_but = document.getElementsByClassName("task-image")[0];
        task_but.src = "/static/" + lesson[current_word][check_side];
        task_but.style = "height: 150px; width: 150px";
        wrong_variants = [];
        for (let i = 0; i < lesson.length; i++) {
            if (i != current_word){
                wrong_variants.push(lesson[i][ans_side]);
            }
        }
        // alert(wrong_variants.length);
        // for (let i = 0; i < wrong_variants.length; i += 1){
//             alert(wrong_variants[i]);
//         }
        shuffle(wrong_variants);
        var ans_variants = [lesson[current_word][ans_side]];
        for (let i = 0; i < ({{ answer_button_number }} - 1); i += 1){
            ans_variants.push(wrong_variants[i]);
        }
        // alert(ans_variants.length);

        shuffle(ans_variants);
        // alert(ans_variants);

        ans_buttons = document.getElementsByClassName("ans-button");
        for (let i = 0; i < ans_buttons.length; i++) {
            ans_buttons[i].addEventListener("click", ansButtonClick, false);
            but_img = ans_buttons[i].getElementsByTagName("img")[0];
            but_img.src = "/static/" + ans_variants[i];
            // alert(but_img.src);
            ans_buttons[i].value = ans_variants[i];
            but_img.value = ans_variants[i];
            but_img.style.width = (img_size).toString() + "px";
            but_img.style.height = (img_size).toString() + "px";
            ans_buttons[i].style.minWidth = (Number(but_img.style.width.slice(0, -2)) + extra_size_ansbut).toString() + "px";
            ans_buttons[i].style.minHeight = (Number(but_img.style.height.slice(0, -2)) + extra_size_ansbut).toString() + "px";
            ans_buttons[i].style.backgroundColor = 'white';
            ans_buttons[i].disabled = false;
        };
    }

    continue_button = document.getElementById("continue");
    continue_button.addEventListener("click", continueButtonClick, false);
    buttonsInit();

</script>
{% endblock %}
