{% extends "base.html" %}

{% block content %}
<div class="main-div-container">
	<div style="display: block;
	    		min-width: 355px;">
	    <h2 style="margin: 4vh;">Слов в словаре: {{ len_all_words }}</h2>
	</div>
	<div class="instruments-box">
		<div class="instruments-group">
			<div class="instrument input-group" style="max-width: var(--min-window-size);">
		    <div class="input-group-prepend">
		        <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg"
		                                                              x="0px" y="0px"
		                                                              width="30" height="30"
		                                                              viewBox="0 0 30 30"
		                                                              style=" fill:#000000;">
		            <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
		        </svg></span>
		    </div>
		    <input type="text" class="form-control" placeholder="Поиск по переводу" aria-label="Поиск"
		           aria-describedby="basic-addon1" style="height: 44px;" id="translation search field"
		           value="">
		    <input type="text" class="form-control" placeholder="Поиск по иероглифу" aria-label="Поиск"
		           aria-describedby="basic-addon1" style="height: 44px;" id="hieroglyph search field"
			           value="">
			</div>
			<div class="instrument sort-button-group">
				<div class="sort-group-layer">
			    <button id="alphabet_translation-sort-button" class="btn-main sort-button"> 
			        а↑
			    </button>
			    <button id="rev_alphabet_translation-sort-button" class="btn-main sort-button">
			        а↓
			    </button>
			    <button id="alphabet_hieroglyph-sort-button" class="btn-main sort-button"> 
			        信↑
			    </button>
			    </div>
			    <div class="sort-group-layer">
			    <button id="rev_alphabet_hieroglyph-sort-button" class="btn-main sort-button">
			        信↓
			    </button>
			    <button id="time-sort-button" class="btn-main sort-button">
			        🕔↓
			    </button>
			    <button id="rev_time-sort-button" class="btn-main sort-button">
			        🕔↑
			    </button>
			    </div>
			</div>
			<div class="instrument filter-button-group">
				<button id="filter_button" class="btn btn-add" style="margin: 0px;">Показать только свои слова</button>
			</div>
		</div>
	</div>
	<div class="add-item-group">
		{% if current_user.teacher %}
			<div class="add-item-box">
				<a href="/add_word" class="btn btn-add">Добавить слово</a>
			</div>
		{% endif %}
	</div>
	<div class="items-row dict-items-row" id="items-row">
	    <h3 id="items-not-found-heading" hidden>Слова не найдены</h3>
	</div>
	<div class="page-buttons-box">
	    <div class="page-buttons-row" id="pages-row">
	    	<div class="page-buttons-container" id="start-page-buttons-container">
	    	</div>	
	    	<div class="page-buttons-container" id="nums-page-buttons-container">
	    	</div>	
	    	<div class="page-buttons-container" id="end-page-buttons-container">
	    	</div>	
	    </div>
	</div>
</div>
<script src="/static/templates_js/items_view.js"></script>
<script src="/static/templates_js/word_items_funtions.js"></script>
<script type="text/javascript">
	function createItemButtons(item_list){
		deleteItemButtons();
	    if (item_list.length == 0){
	        document.getElementById("items-not-found-heading").hidden = false;
	        return;
	    } else {
	        document.getElementById("items-not-found-heading").hidden = true;
	    }
	    for (let i = 0; i < item_list.length; i++){
	        column = document.createElement("div")
	        column.id = "item-container " + (i).toString();
	        column.classList.add("item-container");
	        column.classList.add("dict-item-container");

	        item_button = document.createElement("a");
	        item_button.id = "item_button " + i.toString();
	        item_button.href = "/dict_word/" + item_list[i].id;
	        item_button.classList.add("btn");
	        item_button.classList.add("btn-main");
	        item_button.classList.add("item-button");

	        button_id = item_list[i].id;
	        item_button.classList.add("user-item-button");
	        item_button.innerText = item_list[i].hieroglyph + ' '
	        + item_list[i].translation;

	        column.appendChild(item_button);
	        if (current_user_id == item_list[i].author){
	            change_but = document.createElement("a");
	            delete_but = document.createElement("a");
	            change_but.id = "change_but " + i.toString();
	            delete_but.id = "delete_but " + i.toString();
	            change_but.href = "/change_word/" + item_list[i].id;
	            change_but.classList.add("btn");
	            change_but.classList.add("btn-warning");
	            change_but.classList.add("user-item-button");
	            pencil_icon = document.createElementNS('http://www.w3.org/2000/svg',"svg");
	            pencil_icon.setAttributeNS(null, "width", "16");
	            pencil_icon.setAttributeNS(null, "height", "16");
	            pencil_icon.setAttributeNS(null, "fill", "currentColor");
	            pencil_icon.setAttributeNS(null, "viewBox", "0 0 24 24");
	            path = document.createElementNS('http://www.w3.org/2000/svg',"path");
	            path.setAttributeNS(null, "d", "M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z");
	            path.setAttributeNS(null, "fill-rule", "evenodd");
	            path.setAttributeNS(null, "d", "M18.308 0l-16.87 16.873-1.436 7.127 7.125-1.437 16.872-16.875-5.691-5.688zm-15.751 21.444l.723-3.585 12.239-12.241 2.861 2.862-12.239 12.241-3.584.723zm17.237-14.378l-2.861-2.862 1.377-1.377 2.861 2.861-1.377 1.378z");
	            pencil_icon.appendChild(path);
	            change_but.appendChild(pencil_icon);

	            delete_but.href = "/delete_word/" + item_list[i].id;
	            delete_but.classList.add("btn");
	            delete_but.classList.add("btn-danger");
	            delete_but.classList.add("btn-delete");
	            delete_but.style = "margin: 0px;"
	            trash_icon = document.createElementNS('http://www.w3.org/2000/svg',"svg");
	            trash_icon.setAttributeNS(null, "width", "16");
	            trash_icon.setAttributeNS(null, "fill", "currentColor");
	            trash_icon.setAttributeNS(null, "class", "bi bi-trash");
	            trash_icon.setAttributeNS(null, "viewBox", "0 0 16 16");
	            newpath1 = document.createElementNS('http://www.w3.org/2000/svg',"path");
	            newpath2 = document.createElementNS('http://www.w3.org/2000/svg',"path");
	            newpath1.setAttributeNS(null, "d", "M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z");
	            newpath2.setAttributeNS(null, "fill-rule", "evenodd");
	            newpath2.setAttributeNS(null, "d", "M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z");
	            trash_icon.appendChild(newpath1);
	            trash_icon.appendChild(newpath2);
	            delete_but.appendChild(trash_icon);

	            column.appendChild(change_but);
	            column.appendChild(delete_but);
	        }
        	document.getElementById("items-row").appendChild(column);
    	}
	}

	sort_buttons_id =  ["alphabet_translation-sort-button",
	                    "rev_alphabet_translation-sort-button",
	                    "alphabet_hieroglyph-sort-button",
	                    "rev_alphabet_hieroglyph-sort-button",
	                    "time-sort-button",
	                    "rev_time-sort-button"];
	for (var i = 0; i < sort_buttons_id.length; i++) {
	    sort_button = document.getElementById(sort_buttons_id[i]);
	    if (sort_button != null){
	        sort_button.addEventListener("click", sortButtonClick, false);
	    }
	}

	var max_items_number_on_one_page = {{ max_items_number_on_one_page }};
	var current_user_id = {{ current_user.id }};
	var items_js = {{ items_js|tojson }};

	filter_button = document.getElementById("filter_button");
	filter_button_innerTexts = ["Показать только свои слова",
	                             "Показать только чужие слова",
	                             "Показать все слова"];
	// alert(filter_button);
	if (filter_button != null){
	    filter_button.addEventListener("click", filterButtonClick, false);
	    filter_button.innerText = filter_button_innerTexts[0];
	}

	var filter_button_state = 0;
	var current_page = 1;

	items_lists = [items_js.all_items_js,
	               items_js.my_items_js,
	               items_js.rest_items_js]

	page_numbers = []
	for (let i = 0; i < items_lists.length; i++){
	    page_number = pageNumberCount(items_lists[i]);
	    page_numbers.push(page_number);
	}
	page_lists = []
	for (let i = 0; i < items_lists.length; i++){
	    page_items = items_lists[i].slice(max_items_number_on_one_page * (current_page - 1),
	    max_items_number_on_one_page * current_page);
	    page_lists.push(page_items);
	}

	var current_item_list = searchArrayFilter(items_lists[filter_button_state]);
	current_page_item_list = page_lists[filter_button_state];
	current_page_max_number = page_numbers[filter_button_state];

	createItemButtons(current_page_item_list);
	if (current_page_max_number > 1){
	    createPageButtons();
	}

	translation_search_field = document.getElementById("translation search field");
	hieroglyph_search_field = document.getElementById("hieroglyph search field");
	translation_search_field.addEventListener("keyup", onSearchChange, false);
	hieroglyph_search_field.addEventListener("keyup", onSearchChange, false);
</script>
{% endblock %}
