<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mofang Chinese</title>

</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <nav>
            </nav>
        </div>
    </div>
</header>
<main role="main" class="container">
    <style>
        .password-form {
            margin-top: 31vh;
        }
    </style>

    {% if current_user.id == user.id %}
    {% if current_user.hashed_password %}
    <h1>Поменять пароль</h1>
    {% else %}
    <form class="password-form" action="" method="post">
        {{ form.hidden_tag() }}
        <h1>Придумайте пароль</h1>
        <p>
            {{ form.password.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.password(class="form-control") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.password_again(class="form-control") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
    {% endif %}
    {% else %}
    <h1>У вас нет доступа к этому аккаунту</h1>
    {% endif %}
</main>
</body>
</html>
