<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/static/style.css') }}" rel="stylesheet" />
    <title>Mofang Chinese</title>
</head>

<body>
<main role="main" class="container">
    <style>
        .password-form {
            margin-top: 10vh;
        }
    </style>

    {% if current_user.id == user.id %}
    <form class="password-form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.name(class="form-control", id="name") }}<br>
            {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>

        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(class="form-control", id="last_name") }}<br>
            {% for error in form.last_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.patronymic.label }}<br>
            {{ form.patronymic(class="form-control", id="patronymic") }}<br>
            {% for error in form.patronymic.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control", id="about") }}<br>
            {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        {% if current_user.hashed_password %}
        <p>
            {{ form.email.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.email(class="form-control", id="email") }}<br>
            {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <h1>Подтвердите пароль</h1>
        <p>
            {{ form.old_password.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.old_password(class="form-control") }}<br>
            {% for error in form.old_password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        {% endif %}
        <h1>Придумайте пароль</h1>
        <p>
            {{ form.password.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.password(class="form-control") }}<br>
            {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.password_again(class="form-control") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
    {% else %}
    <h1>У вас нет доступа к этому аккаунту</h1>
    {% endif %}
    <script>
        input = document.getElementById("name");
        input.value = "{{ name_data }}";
        input = document.getElementById("last_name");
        input.value = "{{ last_name_data }}";
        input = document.getElementById("patronymic");
        input.value = "{{ patronymic_data }}";
        input = document.getElementById("about");
        input.value = "{{ about_data }}";
        input = document.getElementById("email");
        input.value = "{{ email_data }}";
    </script>
</main>
</body>
</html>
