{% extends "base.html" %}

{% block content %}

<style>
    .row {
      display: flex;
    }

    .column {
      flex: 50%;
    }

    .pages-row {
        display: inline-block;

    }

    .page_button {
        margin: 5px 5px 5px 5px;
        color: white;
    }

    .current_page_button {
        margin: 0px 0px 0px 0px;
        border-style: solid;
        border-color: red;
        border-width: 5px;
    }
    .item_button{
        min-width: 250px;

        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .user-word-button {
        color: white;
        margin-left: 5px;
        position: relative;

    }


</style>
<h1>Ученики курса</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div style="display: flex;">
        {% if current_user.teacher %}
        <button id="filter_button" class="btn btn-add" type="button"></button>
        {% endif %}
        <!--    <h2 style="position: relative; width: 400px; margin: 0px 0px 0px 0px">Учеников в словаре: len_all_items</h2>-->
    </div>
    <!--<h2>Страниц в словаре: {{ pages_number }}</h2>-->

    <div style="display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 1rem!important;">
    <div style="width: 45%;" class="search-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg"
                                                                  x="0px" y="0px"
                                                                  width="30" height="30"
                                                                  viewBox="0 0 30 30"
                                                                  style=" fill:#000000;">
                <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
            </svg></span>
        </div>
        <input type="text" class="form-control" placeholder="Поиск ученика" aria-label="Поиск"
               aria-describedby="basic-addon1" style="height: 44px;" id="email search field"
               value="">
    </div>
    <button id="text change button" type="button" class="btn-primary">Включить просмотр почт</button>
    </div>
    <div class="sort-button-group" style="width: 45%;">
        <button id="alphabet-sort-button" class="btn-primary alphabet-sort-button"> 
            а↑
        </button>
        <button id="rev_alphabet-sort-button" class="btn-primary alphabet-sort-button">
            а↓
        </button>
        <button id="time-sort-button" class="btn-primary alphabet-sort-button">
            🕔↓
        </button>
        <button id="rev_time-sort-button" class="btn-primary alphabet-sort-button">
            🕔↑
        </button>
    </div>

    <div class="row" id="item_row">
        {% for i in range(column_number) %}
        <div class="column" id="column {{ i }}"></div>
        {% endfor %}
    </div>

    <div style="align-items: center; width: 100%; justify-content: center; display: flex;">
        <div class="pages-row" id="pages-row">
        </div>
    </div>
<!--    <div name="form-res" id="form-res"></div>-->
    <input hidden id="form-res" name="form-res">
    <p>{{ form.submit(type="submit", class="btn btn-primary", style="margin-top: 20px;",
        id="submit-button") }}</p>
    {{message}}
</form>
<script>
	// alert("full update");
    function searchArrayFilter(item_list){
        email_search_field = document.getElementById("email search field");
        val1 = email_search_field.value;
        ret_array = [];
        if (val1 != ""){
            for (var i = 0; i < item_list.length; i++) {
                if (item_list[i][button_texts[text_button_state]].includes(val1)){
                    ret_array.push(item_list[i]);
                }
            }
        } else {
            ret_array = item_list;
        }
        return ret_array;
    }

    function showButtons(){
        current_item_list = searchArrayFilter(items_lists[filter_button_state]);
        current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), 
            max_items_number_on_one_page * current_page);
        current_page_max_number = page_numbers[filter_button_state];

        if ((current_page_item_list[0] == "")){
            current_page_item_list = [];
        }
        if (current_page_item_list.length == 0 && current_page > current_page_max_number) {
            current_page = current_page_max_number;
            current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), 
                max_items_number_on_one_page * current_page);
        }
        createItemButtons(current_page_item_list);
        if (current_page_max_number > 1){  // f
            createPageButtons();
        }
    }
    
    function sortButtonClick(event){
        button_type = event.target.id;
        if (button_type == "alphabet_translation-sort-button"){
            current_item_list.sort((firstWord, secondWord) => {
                  const translation1 = firstWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
                  const translation2 = secondWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
                  if (translation1 < translation2) {return -1;}
                  if (translation1 > translation2) {return 1;}
                  return 0;
            });
        } else if (button_type == "rev_alphabet_translation-sort-button") {
            current_item_list.sort((firstWord, secondWord) => {
                  const translation1 = firstWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
                  const translation2 = secondWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
                  if (translation1 < translation2) {return 1;}
                  if (translation1 > translation2) {return -1;}
                  return 0;
            });
        } else if (button_type == "time-sort-button") {
            current_item_list.sort((firstWord, secondWord) => {
                  const translation1 = parseInt(firstWord["id"]); // ignore upper and lowercase
                  const translation2 = parseInt(secondWord["id"]); // ignore upper and lowercase
                  if (translation1 < translation2) {return -1;}
                  if (translation1 > translation2) {return 1;}
                  return 0;
            });
        } else if (button_type == "rev_time-sort-button") {
            current_item_list.sort((firstWord, secondWord) => {
                  const translation1 = parseInt(firstWord["id"]); // ignore upper and lowercase
                  const translation2 = parseInt(secondWord["id"]); // ignore upper and lowercase
                  if (translation1 < translation2) {return 1;}
                  if (translation1 > translation2) {return -1;}
                  return 0;
            });
        }
        showButtons();
    }
    
    function filterButtonClick(event){
        filter_button_state = (filter_button_state + 1) % items_lists.length;
        filter_button.innerText = filter_button_innerTexts[filter_button_state];
        showButtons();
    }

    function javascriptList(list){
        // alert(list);
        list = list.split(";;;");
        for (let i = 0; i < list.length; i += 1){
            list_word = list[i].split(";");
            list[i] = { "id": list_word[0],
                        "name": list_word[1],
                        "email": list_word[2],
                        "creator": list_word[3],
                      };
        }
        return list;
    }

    function itemButtonClick(event){
        prev_name = event.target.name
        if (prev_name == "lesson_item") {
            // alert(event.target.style.cssText);
            event.target.name = "not_lesson_item";
            event.target.style = event.target.style.cssText + "background-color: #007bff";
            bool_course_items[parseInt(event.target.value, 10)] = 0;
        } else {
            event.target.name = "lesson_item";
            event.target.style = event.target.style.cssText + "background-color: green";
            bool_course_items[parseInt(event.target.value, 10)] = 1;
        }
    }

    function createItemButtons(item_list){
        // delete previous buttons
        for (let i = 0; i < max_items_number_on_one_page; i += 1){
            prev_but = document.getElementById("item_button " + i.toString())
            if (prev_but != null){prev_but.remove();}
        }
        
        for (let i = 0; i < item_list.length; i += 1){
            // console.log(i);
            column = document.getElementById("column " + (i % {{ column_number }}).toString());
            column.style = "flex: " + (100 / {{ column_number }}).toString() + "%";
            item_button = document.createElement("button");
            item_button.id = "item_button " + i.toString();
            item_button.type = "button";
            item_button.addEventListener("click", itemButtonClick, false);
            item_button.classList.add("btn");
            item_button.classList.add("btn-primary");
            button_id = item_list[i]["id"];
            item_button.value = button_id;
            if (bool_course_items[button_id] == 1){
            	item_button.style = "min-width: 250px; background-color: green";
            	bool_course_items[button_id] = 1;
            	item_button.name = "lesson_item";
            } else {
            	item_button.style = "min-width: 250px; background-color: #007bff";
            	bool_course_items[button_id] = 0;
            	item_button.name = "not_lesson_item";
            }
            item_button.classList.add("user-word-button");
            // item_button.href = "/dict_word/" + item_list[i][item_js_table["id"]];
            // item_button.style = "min-width: 250px";  // padding-right: 100p; display: block; position: relative; text-align: left;
            item_button.innerText = item_list[i][button_texts[text_button_state]];

            column.appendChild(item_button);
        }
    }


    function createOnePageButton(row, text, onClickFunction){
        page_button = document.createElement("button");
        page_button.onclick = onClickFunction;
        page_button.id = "page_button " + text;
        page_button.classList.add("btn");
        page_button.classList.add("btn-primary");
        // alert(text);
        // alert(current_page);
        if (text == current_page){
            page_button.classList.add("current_page_button")
        } else {
            page_button.classList.add("page_button");
        }
        page_button.innerText = text;
        row.appendChild(page_button);
    }

    function deletePageButtons(){
        prev_but = document.getElementById("page_button <<");
        if (prev_but != null){prev_but.remove();}
        prev_but = document.getElementById("page_button <");
        if (prev_but != null){prev_but.remove();}

        for (let i = 1; i < page_numbers[0] + 1; i++){
            prev_but = document.getElementById("page_button " + i.toString());
            if (prev_but != null){prev_but.remove();}
        }

        prev_but = document.getElementById("page_button >>");
        if (prev_but != null){prev_but.remove();}
        prev_but = document.getElementById("page_button >");
        if (prev_but != null){prev_but.remove();}
    }

    function pageButtonNumberFunction(event){
        // alert(event.target.innerText);
        // alert("pageButtonNumberFunction -1");
        current_page = parseInt(event.target.innerText, 10);
        current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
        // alert("createItemButtons 1")
        createItemButtons(current_page_item_list);
        // alert("createItemButtons 2")
        if (current_page_max_number > 1){  // f
            // alert("creating page buttons");
            createPageButtons();
        }
    }

    function pageButtonFunctions(button_text){
        if (button_text == "<<"){
            return function(event){
                current_page = 1;
                current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                createItemButtons(current_page_item_list);
                if (current_page_max_number > 1){  // f
                    createPageButtons();
                }
            };
        } else if (button_text == "<"){
            return function(event){
                if (current_page != 1) {
                    current_page -= 1;
                    current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                    createItemButtons(current_page_item_list);
                    if (current_page_max_number > 1){createPageButtons();}
                }
            };
        } else if (button_text == ">"){
            return function(event) {
                if (current_page != current_page_max_number) {
                    current_page += 1;
                    current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                    createItemButtons(current_page_item_list);
                    if (current_page_max_number > 1){  // f
                        // alert("creating page buttons");
                        createPageButtons();
                    }
                }
            }
        } else if (button_text == ">>"){
            return function(event){
                current_page = current_page_max_number;
                current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                createItemButtons(current_page_item_list);
                if (current_page_max_number > 1){  // f
                    // alert("creating page buttons");
                    createPageButtons();
                }
            };
        }
    }

    function createPageButtons(){
        deletePageButtons();
        if (current_page_max_number > 1){
            pages_row = document.getElementById("pages-row");
            createOnePageButton(pages_row, "<<", pageButtonFunctions("<<"));
            createOnePageButton(pages_row, "<", pageButtonFunctions("<"));

            if ((current_page_max_number - current_page) <= 6 && (current_page_max_number - current_page) >= 0) {
                if (current_page_max_number >= 9){
                    for (let i = (current_page_max_number - 9); i < current_page_max_number; i++){
                        createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                    }
                } else {
                    for (let i = 0; i < current_page_max_number; i++){
                        createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                    }
                }
            } else {
                if (current_page == 1) {
                    if (current_page_max_number < 9){
                        for (let i = 0; i < current_page_max_number; i ++){
                            createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                        }
                    } else {
                        for (let i = 0; i < 9; i ++){
                            createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                        }
                    }
                } else {
                    for (let i = (current_page - 2); i < (current_page + 7); i++) {
                        createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                    }
                }
            }
            // alert()
            // for (let i = 0; i < current_page_max_number; i ++){
            //     createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
            // }
            createOnePageButton(pages_row, ">", pageButtonFunctions(">"));
            createOnePageButton(pages_row, ">>", pageButtonFunctions(">>"));
        }
    }

    function onSubmitButtonClick(event){
        form_res = document.getElementById("form-res");
        for (let i = 0; i < bool_course_items.length; i++){
            if (bool_course_items[i] != 0 && bool_course_items[i] != 1) {
                bool_course_items[i] = 0;
            }
        }
    	form_res.value = bool_course_items;
    }

    sort_buttons_id =  ["alphabet-sort-button", 
                        "rev_alphabet-sort-button", 
                        "time-sort-button",
                        "rev_time-sort-button"];
    for (var i = 0; i < sort_buttons_id.length; i++) {
        sort_button = document.getElementById(sort_buttons_id[i]);
        if (sort_button != null){
            sort_button.addEventListener("click", sortButtonClick, false);
        }
    }

    filter_button = document.getElementById("filter_button");
    filter_button_innerTexts = ["Показать только своих учеников",
                                 "Показать только чужих учеников",
                                 "Показать учеников курса", 
                                 "Показать учеников, не подключенных к курсу", 
                                 "Показать всех учеников"];
    if (filter_button != null){
        filter_button.addEventListener("click", filterButtonClick, false);
        filter_button.innerText = filter_button_innerTexts[0];
    }

    var filter_button_state = 0;
    var text_button_state = 0;
    var button_texts = ["name", "email"];
    var current_page = 1;
    var max_items_number_on_one_page = {{ column_number }} * {{ items_in_column_number }};


    items_lists = [all_items = javascriptList("{{ all_items_js }}"),
                    my_items = javascriptList("{{ my_items_js }}"),
                    rest_items = javascriptList("{{ rest_items_js }}"),
                    course_items = javascriptList("{{ course_items_js }}"),
                    not_course_items = javascriptList("{{ not_course_items_js }}")];
    for (let i = 0; i < items_lists.length; i++){
        if (items_lists[i][0] == ''){
            items_lists[i] = [];
        }
        // console.log(items_lists[i]);
    }
    bool_course_items = []
    for (let i = 0; i < items_lists[0].length; i++) {
    	bool_course_items.push(0);
    }
    for (let i = 0; i < items_lists[3].length; i++) {
        // console.log(items_lists[3][i]["id"]);
    	bool_course_items[parseInt(items_lists[3][i]["id"])] = 1;
    }
    // console.log(bool_course_items);
    page_numbers = []
    for (let i = 0; i < items_lists.length; i++){
        page_number = Math.floor(items_lists[i].length / max_items_number_on_one_page) + 1;
        page_numbers.push(page_number);
        // console.log(page_numbers[i]);
    }
    page_lists = []
    for (let i = 0; i < items_lists.length; i++){
        page_items = items_lists[i].slice(max_items_number_on_one_page * (current_page - 1),
        max_items_number_on_one_page * current_page);
        page_lists.push(page_items);
    }

    current_item_list = items_lists[filter_button_state];
    current_page_item_list = page_lists[filter_button_state];
    current_page_max_number = page_numbers[filter_button_state];

    item_js_table = {
    "id": 0,
    "name": 1,
    "email": 2,
    "creator": 3};

    createItemButtons(current_page_item_list);
    if (current_page_max_number > 1){
        createPageButtons();
    }

    function onSearchChange(event){
        if (event.key != "Control"){
            current_item_list = searchArrayFilter(items_lists[filter_button_state]);
            showButtons();
        }
    }

    function onTextChangeButtonClick(event){
        text_button_state = (text_button_state + 1) % button_texts.length;
        event.target.innerText = ["Включить просмотр почт", "Включить просмотр имен"][text_button_state];
        showButtons();
    }

    email_search_field = document.getElementById("email search field");
    email_search_field.addEventListener("keyup", onSearchChange, false);
    text_change_button = document.getElementById("text change button");
    text_change_button.addEventListener("click", onTextChangeButtonClick, false);

    submit_button = document.getElementById("submit-button");
    submit_button.addEventListener("click", onSubmitButtonClick, false);
    // form_res = document.getElementById("form-res");
    // for (let i = 0; i < bool_course_items.length; i++){
    //     // console.log(bool_course_items[i]);
    //     if (bool_course_items[i] != 1) bool_course_items[i] = 0;
    // }
    // form_res.value = bool_course_items;
    // alert(submit_button.id);
</script>
{% endblock %}
