{% extends "base.html" %}

{% block content %}
<style>

    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lesson-name {
        overflow:hidden;
        margin: 0px 10px 0px 10px;
    }

    .lesson-button{
        margin: 10px 10px 10px 10px;
    }

    .lesson-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .text-line {
        display: block; /* or inline-block, at least its a block element */
        width: 100%; /* or width is certain by parent element */
        height: auto; /* height cannot be defined */
        word-break: break-all; /*  */
        word-wrap: break-word; /* if you want to cut the complete word */
        white-space: normal; /* be sure its not 'nowrap'! ! ! :/ */
        margin-bottom: 5px;
    }
    .course-data{
        margin-bottom: 6vh;
    }
    .course-about {
        background-color: white;
        padding: 10px;
    }
    
    .course-lessons{}

    .lessons {
        margin: 4vh 0px 4vh 0px;
    }
</style>
<div class="course-data">
    {% if current_user.teacher %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
                {{ form.name(class="form-control", id="course_name") }}<br>
                {% for error in form.name.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.about.label }}<br>
                {{ form.about(class="textarea form-control", id="course_about") }}<br>
                {% for error in form.about.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{message}}
        </form>
    {% else %}
        <h1 id="course_name">{{ course_data.name }}</h1>
        {% if course_data.about != '' %}
            <h3>О курсе</h3>
            <div id="course_about" class="course-about">
            </div>
        {% endif %}
    {% endif %}
</div>
<!--<textarea>{{ course_about }}-->
<!--</textarea>-->


<div class="column course-lessons">
    <h2>Уроки курса</h2>
    <div class="column lessons">
    {% for less in course_data.lessons %}
        <div class="lesson-card">
            <!-- style="position: absolute;" -->
            <h5 class="lesson-name" >{{ less.name }}</h5>
            <div class="lesson-buttons">
            <a href="/courses/{{ course_data.id }}/lesson/{{ less.id }}" class="btn btn-primary lesson-button">Перейти на урок</a>
            {% if current_user.teacher %}
            <a href="/courses/{{ course_data.id }}/lesson_statistics/{{ less.id }}" class="btn-primary lesson-button info-button">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="21" height="21"
                    viewBox="0 0 50 50" class="info-svg">
                    <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"></path></svg>
            </a>
            <a href="/courses/{{ course_data.id }}/lesson_delete/{{ less.id }}"
               class="btn btn-danger btn-delete lesson-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if current_user.teacher %}
        <div>
            <a href="/make_lesson/{{ course_data.id }}" class="btn btn-add">Добавить урок</a>
        </div>
        <div>
            <a href="/course/{{ course_data.id }}/pupils" class="btn btn-add">Просмотреть учеников курса</a>
        </div>
    {% endif %}
</div>

{% if current_user.teacher  %}
<button id="save-changes-button" hidden>Сохранить изменения</button>
{% endif %}

<script type="text/javascript" src="../static/data_parser.js"></script>
<script>
    input = document.getElementById("course_name");
    input.value = "{{ course_name }}";
    string = "";
    if ("{{ current_user.teacher }}" == "True"){
        if (json_course_about){
            json_course_about = json_course_about.split('&lt;&lt;&lt;&lt;');

            for (let i = 0; i < json_course_about.length; i++){
                string += json_course_about[i];
                console.log(string);
                text_holder = document.getElementById("course_about");
                text_holder.value = string;
            }
        }
    } else {
        if (json_course_about){
            json_course_about = json_course_about.split('&lt;&lt;&lt;&lt;');

        for (let i = 0; i < json_course_about.length; i++){
            text_holder = document.getElementById("course_about");
            new_line = document.createElement('p');
            new_line.classList.add("text-line");
            new_line.innerText = json_course_about[i];
            text_holder.appendChild(new_line);
        }
        }
    }

</script>

{% endblock %}
