{% extends "base.html" %}

{% block content %}
<style type="text/css">
	.statistics-lesson-card {
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	}
	.lesson-statistics-top {
	    width: 100%;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-around;

	}
	.text-block {
		margin: 0.6rem;
	}
</style>
<h1>Курс: {{ course.name }}</h1>
{% if course.about != '' %}
    <h3>О курсе</h3>
    <div id="course_about" class="course-about">
    </div>
{% endif %}
<h3>Количество уроков курса {{ len_course_lessons }}</h3>
<h3>Количество учеников курса {{ len_course_pupils }}</h3>
{% for less in course.lessons %}
    <div class="lesson-card statistics-lesson-card">
        <!-- style="position: absolute;" -->
        <div class="lesson-statistics-top">
		    <h5 class="text-block">{{ less.name }}</h5>
		    <a href="/course/{{ course.id }}/lesson/{{ less.id }}" class="btn btn-primary lesson-button" style="margin: 0px;">Перейти на урок</a>
		    <a href="/course/{{ course.id }}/lesson_statistics/{{ less.id }}" class="btn-primary lesson-button info-button">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="21" height="21"
                    viewBox="0 0 50 50" class="info-svg">
                    <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"></path></svg>
            </a>
        </div>
        <div>
        	<h5>Средняя выученность урока {{ lessons_data[less.id][0] }}%</h5>	
	        <h5>Ученики, изучившие урок {{ lessons_data[less.id][1] }}</h5>
	        <h5>Ученики, приступившие к уроку {{ lessons_data[less.id][2] }}</h5>
	        <h5>Ученики, не приступавшие к уроку {{ lessons_data[less.id][3] }}</h5>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="/static/data_parser.js"></script>
<script>
    if (json_course_about) {
        json_course_about = json_course_about.split('&lt;&lt;&lt;&lt;');

	    for (let i = 0; i < json_course_about.length; i++){
	        text_holder = document.getElementById("course_about");
	        new_line = document.createElement('p');
	        new_line.classList.add("text-line");
	        new_line.innerText = json_course_about[i];
	        text_holder.appendChild(new_line);
	    }
    }
</script>
{% endblock %}
