{% extends "base.html" %}

{% block content %}
<style>
	.pupil-stats-column {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    align-content: center;
	    align-items: center;
	    justify-content: flex-start;
	    margin-top: 2vh;
	}
	.pupil-stats-holder {
		display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    align-items: flex-start;
	    margin: 2vh;
	}
</style>
<h1>Статистика урока: {{ lesson_name }}</h1>
<h3>Количество слов: {{ lesson_words_len }}</h3>
<h3>Количество тренажеров: {{ lesson_trainers_len }}</h3>
<h3>Количество тестов: {{ lesson_tests_len }}</h3>
<h3>Средняя выученность урока {{ lesson_percentage }}%</h5>
<h4>Чтобы посмотреть более подробную статистику по ученику, кликните на кнопку с его именем</h4>
<div style="display: flex;
			    flex-direction: row;
			    flex-wrap: wrap;
			    align-content: center;
			    justify-content: flex-start;
			    align-items: center;
			    margin-bottom: 1rem!important;">
<div style="width: 45%;" class="search-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg"
                                                              x="0px" y="0px"
                                                              width="30" height="30"
                                                              viewBox="0 0 30 30"
                                                              style=" fill:#000000;">
            <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
        </svg></span>
    </div>
    <input type="text" class="form-control" placeholder="Поиск ученика" aria-label="Поиск"
           aria-describedby="basic-addon1" style="height: 44px;" id="email search field"
           value="">
</div>
<button id="text change button" type="button" class="btn-primary">Включить просмотр почт</button>
</div>
<div class="sort-button-group" style="width: 45%;">
    <button id="alphabet-sort-button" class="btn-primary alphabet-sort-button">
        а↑
    </button>
    <button id="rev_alphabet-sort-button" class="btn-primary alphabet-sort-button">
        а↓
    </button>
    <button id="time-sort-button" class="btn-primary alphabet-sort-button">
        🕔↓
    </button>
    <button id="rev_time-sort-button" class="btn-primary alphabet-sort-button">
        🕔↑
    </button>
</div>

<div id="pupil-stats-column" class="pupil-stats-column">
	<!-- {% for pupil in course_pupils %}
		<div class="pupil-stats-holder">
			<a class="btn btn-primary" href="/courses/{{ course_id }}/lesson_statistics/{{ lesson_id }}/pupil/{{ pupil.id }}">{{ pupil.name }}</a>
			<h3>Выучено слов: {{ pupil.words_learned }}</h3>
			<h3>Просмотрено слов: {{ pupil.words_viewed }}</h3>
			<h3>Пройдено тренажеров: {{ pupil.trainers_completed }}</h3>
			<h3>Пройдено тестов: {{ pupil.tests_completed }}</h3>
		</div>
	{% endfor %} -->
</div>
<h3 id="items-not-found-heading" hidden>Ученики не найдены</h3>
<script type="text/javascript" src="/static/data_parser.js"></script>
<script type="text/javascript">
	function searchArrayFilter(item_list){
        email_search_field = document.getElementById("email search field");
        val1 = email_search_field.value;
        ret_array = [];
        if (val1 != ""){
            for (var i = 0; i < item_list.length; i++) {
                if (item_list[i][button_texts[text_button_state]].includes(val1)){
                    ret_array.push(item_list[i]);
                }
            }
        } else {
            ret_array = item_list;
        }
        return ret_array;
    }

	function showButtons(){
    	current_item_list = searchArrayFilter(item_list);
        createItemStatHolders();
    }

	function sortButtonClick(event){
    	button_type = event.target.id;
    	if (button_type == "alphabet-sort-button"){
	    	current_item_list.sort((firstWord, secondWord) => {
				  const translation1 = firstWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
				  const translation2 = secondWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
				  if (translation1 < translation2) {return -1;}
				  if (translation1 > translation2) {return 1;}
				  return 0;
			});
	    } else if (button_type == "rev_alphabet-sort-button") {
	    	current_item_list.sort((firstWord, secondWord) => {
				  const translation1 = firstWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
				  const translation2 = secondWord[button_texts[text_button_state]].toUpperCase(); // ignore upper and lowercase
				  if (translation1 < translation2) {return 1;}
				  if (translation1 > translation2) {return -1;}
				  return 0;
			});
		} else if (button_type == "time-sort-button") {
	    	current_item_list.sort((firstWord, secondWord) => {
				  const translation1 = parseInt(firstWord["id"]); // ignore upper and lowercase
				  const translation2 = parseInt(secondWord["id"]); // ignore upper and lowercase
				  if (translation1 < translation2) {return -1;}
				  if (translation1 > translation2) {return 1;}
				  return 0;
			});
		} else if (button_type == "rev_time-sort-button") {
	    	current_item_list.sort((firstWord, secondWord) => {
				  const translation1 = parseInt(firstWord["id"]); // ignore upper and lowercase
				  const translation2 = parseInt(secondWord["id"]); // ignore upper and lowercase
				  if (translation1 < translation2) {return 1;}
				  if (translation1 > translation2) {return -1;}
				  return 0;
			});
		}
        showButtons();
    }

	function createItemStatHolders(){
		pupil_stats_column = document.getElementById("pupil-stats-column");
		pupil_stats_column.innerHTML = '';
        if (current_item_list.length == 0){
        	document.getElementById("items-not-found-heading").hidden = false;
        	return;
        } else {
        	document.getElementById("items-not-found-heading").hidden = true;
        }
		for (var i = 0; i < current_item_list.length; i++) {
			pupil_stats_holder = document.createElement("div");
			pupil_stats_holder.classList.add("pupil-stats-holder");
			item_but = document.createElement("a");
			item_but.classList.add("btn");
			item_but.classList.add("btn-primary");
			item_but.href = "/courses/{{ course_id }}/lesson_statistics/{{ lesson_id }}/pupil/" + current_item_list[i]["id"].toString();
			item_but.innerText = current_item_list[i][[button_texts[text_button_state]]];
			pupil_stats_holder.appendChild(item_but);
			
			stat_texts = ["Выучено слов: " + current_item_list[i]["words_learned"].toString(),
						  "Просмотрено слов: " + current_item_list[i]["words_viewed"].toString(),
						  "Пройдено тренажеров: " + current_item_list[i]["trainers_completed"].toString(),
						  "Пройдено тестов: " + current_item_list[i]["tests_completed"].toString()]
			for (var j = 0; j < stat_texts.length; j++) {
				stat_text = document.createElement("h3");
				stat_text.innerText = stat_texts[j];
				pupil_stats_holder.appendChild(stat_text);
			}
			pupil_stats_holder.appendChild(stat_text);
			pupil_stats_column.appendChild(pupil_stats_holder);
		}
	}
	// {"eamil": "pupil@gmail.com", 
	// "id": 2,
	// "name": "pupil",
	// "teacher": false}
	sort_buttons_id =  ["alphabet-sort-button", 
					    "rev_alphabet-sort-button", 
					    "time-sort-button",
					    "rev_time-sort-button"];
    for (var i = 0; i < sort_buttons_id.length; i++) {
    	sort_button = document.getElementById(sort_buttons_id[i]);
    	if (sort_button != null){
    		sort_button.addEventListener("click", sortButtonClick, false);
    	}
    }

	var item_list = course_pupils;
	
    var text_button_state = 0;
    var button_texts = ["name", "email"];
    var current_item_list = searchArrayFilter(item_list);

    createItemStatHolders();

    function onSearchChange(event){
        if (event.key != "Control"){
            current_item_list = searchArrayFilter(item_list);
            showButtons();
        }
    }

    function onTextChangeButtonClick(event){
        text_button_state = (text_button_state + 1) % button_texts.length;
        event.target.innerText = ["Включить просмотр почт", "Включить просмотр имен"][text_button_state];
        showButtons();
    }

    email_search_field = document.getElementById("email search field");
    email_search_field.addEventListener("keyup", onSearchChange, false);
    text_change_button = document.getElementById("text change button");
    text_change_button.addEventListener("click", onTextChangeButtonClick, false);
</script>
{% endblock %}