{% extends "base.html" %}

{% block content %}
<style>
    .column {
        float: left;
        width: 50%;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: center;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .page-but {
        margin: 5px 5px 5px 5px;
    }
    .current_page_button {
        margin: 0px 0px 0px 0px;
        border-style: solid;
        border-color: red;
        border-width: 5px;
    }
    .item-button{
        width: 250px;
        height: 43px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .unstarted-trainer{
        background-color: var(--orange);
        color: var(--contrast-orange);
    }

    .unfinished-trainer{
        background-color: var(--yellow);
        color: var(--contrast-yellow);
    }

    .finished-trainer{
        background-color: var(--green);
        color: var(--contrast-green);
    }

</style>
{% if current_user.teacher %}
<form action="" method="post" name="checks">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% else %}
    <h1>{{ lesson_name }}</h1>
{% endif %}
<div>
    <div class="column">
        <h2>Материалы урока</h2>
        <div style="flex: 1 1 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;" id="column 0">

        </div>
        <div style="align-items: center; width: 100%; justify-content: center; display: flex;">
            <div class="pages-row" id="pages-row">
            </div>
        </div>
        {% if current_user.teacher %}
        <div style="align-items: center; width: 100%; justify-content: center; display: flex; margin: 5px 5px 5px 5px">
            <a class="btn btn-add" href="/add_words_to_lesson/{{ lesson_data.id }}">Добавить
                слова</a>
        </div>
        {% endif %}
    </div>
    <div class="column">
        <h2>Тренажеры урока</h2>
        {% for trainer in lesson_data.trainers %}
        <div style="display: flex;
                    direction: row;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;">
            <a href="/courses/{{ course_id }}/lesson/{{ lesson_data.id }}/trainer/{{ trainer.id }}"
               class="btn btn-primary item-button" style="min-width: 250px" id="trainer {{ trainer.id }}">
                {{ trainer.name }}
            </a>
            {% if current_user.teacher %}
            <a href="/delete_trainer_from_lesson/{{ lesson_data.id }}/{{ trainer.id }}"
               class="btn btn-danger btn-delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>
            {% endif %}
        </div>
        {% endfor %}
        {% if current_user.teacher %}
        <div style="align-items: center; width: 100%; justify-content: center; display: flex; margin: 5px 5px 5px 5px">
            <a class="btn btn-add" href="/add_trainers_to_lesson/{{ lesson_data.id }}">Добавить
                тренажеры</a>
        </div>
        {% endif %}
    </div>
    <h2>Тесты урока</h2>
    <div class="column">
        <div class="row">
        <div style="display: flex;
                    direction: row;
                    flex-direction: column;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-content: center;">
            {% for test in lesson_data.tests %}

            <a href="/courses/{{ course_id }}/lesson/{{ lesson_data.id }}/test/{{ test.id }}"
               class="btn btn-primary item-button unstarted-trainer" style="min-width: 250px" id="test {{ test.id }}">
                {{ test.name }}
            </a>

            {% endfor %}
        </div>
        <div style="display: flex;
                    direction: row;
                    flex-direction: column;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-content: center;
                    align-items: center;">
            {% for test in lesson_data.tests %}

            <h3 id="test result {{ test.id }}"> 0%</h3>

            {% endfor %}
        </div>
        <div style="display: flex;
                    direction: row;
                    flex-direction: column;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-content: stretch;">
            {% for test in lesson_data.tests %}

            {% if current_user.teacher %}
            <a href="/delete_test_from_lesson/{{ lesson_data.id }}/{{ test.id }}"
               class="btn btn-danger btn-delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>

            <i class="bi bi-trash"></i>
            {% endif %}

            {% endfor %}
        </div>

    </div>
    {% if current_user.teacher %}
    <div style="align-items: center; width: 100%; justify-content: center; display: flex; margin: 5px 5px 5px 5px">
        <a class="btn btn-add" href="/add_tests_to_lesson/{{ lesson_data.id }}">Добавить
            тесты</a>
    </div>
    {% endif %}
        </div>
</div>
<script>
    function javascriptList(list){
        // alert(list);
        list = list.split(";;;");
        for (let i = 0; i < list.length; i += 1){
            list[i] = list[i].split(";");
        }
        return list;
    }

    function createItemButtons(item_list){
        // delete previous buttons
        for (let i = 0; i < max_items_number_on_one_page; i += 1){
            prev_but = document.getElementById("button " + i.toString())
            if (prev_but != null){prev_but.remove();}
            prev_but = document.getElementById("delete " + i.toString())
            if (prev_but != null){prev_but.remove();}
        }

        for (let i = 0; i < item_list.length; i += 1){
            column = document.getElementById("column " + (i % {{ column_number }}).toString());
            column.style.cssText += "flex: " + (100 / {{ column_number }}).toString() + "%";
            button = document.createElement("a");
            button.id = "button " + i.toString();
            button.type = "button";
            // button.addEventListener("click", wordButtonClick, false);
            button.href = "/courses/{{ course_id }}/lesson_word/{{ lesson_data.id }}/word/" + item_list[i][item_js_table["id"]];
            button.classList.add("btn");
            button.classList.add("btn-primary");
            button.classList.add("item-button");
            server_id = item_list[i][item_js_table["id"]];
            if (words_learn_states[server_id] == 0){
                button.style = "color: var(--contrast-orange);background-color: var(--orange);";
            } else if (words_learn_states[server_id] == 1) {
                button.style = "color: var(--contrast-yellow);background-color: var(--yellow);";
            } else if (words_learn_states[server_id] == 2) {
                button.style = "color: var(--contrast-green);background-color: var(--green);";
            }

            // button.classList.add("user-word-button");
            button.innerText = item_list[i][item_js_table["hieroglyph"]] + ' '
            + item_list[i][item_js_table["translation"]];
            column.appendChild(button);
            button.classList.add("user-word-button");
            // alert("{{ current_user.teacher }}");
            if ("{{ current_user.teacher }}" == "True"){
                delete_but = document.createElement("a");
                delete_but.id = 'delete ' + i.toString();
                delete_but.href = "/delete_word_from_lesson/{{ lesson_data['id'] }}" + "/" + item_list[i][item_js_table["id"]];
                delete_but.classList.add("btn");
                delete_but.classList.add("btn-danger");
                delete_but.classList.add("btn-delete");
                // delete_but.classList.add("user-word-button");
                // trash_icon = document.createElement("svg");
                trash_icon = document.createElementNS('http://www.w3.org/2000/svg',"svg");
                // trash_icon.xmlns = "http://www.w3.org/2000/svg";
                trash_icon.setAttributeNS(null, "width", "16");
                trash_icon.setAttributeNS(null, "fill", "currentColor");
                trash_icon.setAttributeNS(null, "class", "bi bi-trash");
                // trash_icon.classList.add("bi-trash");
                trash_icon.setAttributeNS(null, "viewBox", "0 0 16 16");
                newpath1 = document.createElementNS('http://www.w3.org/2000/svg',"path");
                newpath2 = document.createElementNS('http://www.w3.org/2000/svg',"path");
                newpath1.setAttributeNS(null, "d", "M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z");
                newpath2.setAttributeNS(null, "fill-rule", "evenodd");
                newpath2.setAttributeNS(null, "d", "M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z");
                trash_icon.appendChild(newpath1);
                trash_icon.appendChild(newpath2);
                delete_but.appendChild(trash_icon);

                column.appendChild(delete_but);
            }
        }
    }


    function createOnePageButton(row, text, onClickFunction){
        page_button = document.createElement("button");
        page_button.onclick = onClickFunction;
        page_button.id = "page_button " + text;
        page_button.classList.add("page-but");
        page_button.classList.add("btn");
        page_button.classList.add("btn-primary");
        // alert(text);
        // alert(current_page);
        if (text == current_page){
            page_button.classList.add("current_page_button")
        } else {
            page_button.classList.add("page_button");
        }
        page_button.innerText = text;
        row.appendChild(page_button);
    }

    function deletePageButtons(){
        prev_but = document.getElementById("page_button <<");
        if (prev_but != null){prev_but.remove();}
        prev_but = document.getElementById("page_button <");
        if (prev_but != null){prev_but.remove();}

        for (let i = 1; i < page_numbers[0] + 1; i++){
            prev_but = document.getElementById("page_button " + i.toString());
            if (prev_but != null){prev_but.remove();}
        }

        prev_but = document.getElementById("page_button >>");
        if (prev_but != null){prev_but.remove();}
        prev_but = document.getElementById("page_button >");
        if (prev_but != null){prev_but.remove();}
    }

    function pageButtonNumberFunction(event){
        // alert(event.target.innerText);
        // alert("pageButtonNumberFunction -1");
        current_page = parseInt(event.target.innerText, 10);
        current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
        // alert("createItemButtons 1")
        createItemButtons(current_page_item_list);
        // alert("createItemButtons 2")
        if (current_page_max_number > 1){  // f
            // alert("creating page buttons");
            createPageButtons();
        }
    }

    function pageButtonFunctions(button_text){
        if (button_text == "<<"){
            return function(event){
                current_page = 1;
                current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                createItemButtons(current_page_item_list);
                if (current_page_max_number > 1){  // f
                    createPageButtons();
                }
            };
        } else if (button_text == "<"){
            return function(event){
                if (current_page != 1) {
                    current_page -= 1;
                    current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                    createItemButtons(current_page_item_list);
                    if (current_page_max_number > 1){createPageButtons();}
                }
            };
        } else if (button_text == ">"){
            return function(event) {
                if (current_page != current_page_max_number) {
                    current_page += 1;
                    current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                    createItemButtons(current_page_item_list);
                    if (current_page_max_number > 1){  // f
                        // alert("creating page buttons");
                        createPageButtons();
                    }
                }
            }
        } else if (button_text == ">>"){
            return function(event){
                current_page = current_page_max_number;
                current_page_item_list = current_item_list.slice(max_items_number_on_one_page * (current_page - 1), max_items_number_on_one_page * current_page);
                createItemButtons(current_page_item_list);
                if (current_page_max_number > 1){  // f
                    // alert("creating page buttons");
                    createPageButtons();
                }
            };
        }
    }

    function createPageButtons(){
        deletePageButtons();
        if (current_page_max_number > 1){
            pages_row = document.getElementById("pages-row");
            createOnePageButton(pages_row, "<<", pageButtonFunctions("<<"));
            createOnePageButton(pages_row, "<", pageButtonFunctions("<"));

            if ((current_page_max_number - current_page) <= 6 && (current_page_max_number - current_page) >= 0) {
                if (current_page_max_number >= 9){
                    for (let i = (current_page_max_number - 9); i < current_page_max_number; i++){
                        createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                    }
                } else {
                    for (let i = 0; i < current_page_max_number; i++){
                        createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                    }
                }
            } else {
                if (current_page == 1) {
                    if (current_page_max_number < 9){
                        for (let i = 0; i < current_page_max_number; i ++){
                            createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                        }
                    } else {
                        for (let i = 0; i < 9; i ++){
                            createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                        }
                    }
                } else {
                    for (let i = (current_page - 2); i < (current_page + 7); i++) {
                        createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
                    }
                }
            }
            // alert()
            // for (let i = 0; i < current_page_max_number; i ++){
            //     createOnePageButton(pages_row, i + 1, pageButtonNumberFunction);
            // }
            createOnePageButton(pages_row, ">", pageButtonFunctions(">"));
            createOnePageButton(pages_row, ">>", pageButtonFunctions(">>"));
        }
    }

    var sorting_button_state = 0;
    var current_page = 1;
    var max_items_number_on_one_page = {{ column_number }} * {{ items_in_column_number }};
    // document.getElementById('column 0').style = "

//     ";


    items_lists = [all_items = javascriptList("{{ lesson_words_js }}")];
    for (let i = 0; i < items_lists.length; i++){
        if (items_lists[i][0] == ''){
            items_lists[i] = [];
        }
        // console.log(items_lists[i]);
    }

    page_numbers = []
    for (let i = 0; i < items_lists.length; i++){
        page_number = Math.floor(items_lists[i].length / max_items_number_on_one_page) + 1;
        page_numbers.push(page_number);
        // console.log(page_numbers[i]);
    }
    page_lists = []
    for (let i = 0; i < items_lists.length; i++){
        page_items = items_lists[i].slice(max_items_number_on_one_page * (current_page - 1),
        max_items_number_on_one_page * current_page);
        page_lists.push(page_items);
    }

    current_item_list = items_lists[sorting_button_state];
    current_page_item_list = page_lists[sorting_button_state];
    current_page_max_number = page_numbers[sorting_button_state];

    item_js_table = {
    "id": 0,
    "hieroglyph": 1,
    "translation": 2};

    var words_learn_states = {{ words_learn_states }};

    createItemButtons(current_page_item_list);
    if (current_page_max_number > 1){
        createPageButtons();
    }

    // document.getElementById("submit-button").addEventListener("click", onSubmitButtonClick, false);
    test_results = {{ test_results }};
    for (let i = 0; i < test_results.length; i++){
        res = test_results[i];
        // console.log(res);
        // console.log(res[2]);
        // console.log(items_lists.length);
        display = document.getElementById("test result " + res[0].toString());
        percents = (Math.round((res[2] / items_lists[0].length) * 100)).toString() + "%";
        display.innerText = percents;
        string = "test " + res[0].toString();
        doc_test = document.getElementById(string);
        if (percents == "0%"){
            doc_test.classList.add("unstarted-trainer");
        } else if (percents == "100%"){
            doc_test.classList.add("finished-trainer");
        } else {
            doc_test.classList.add("unfinished-trainer");
        }
    }

    var started = 0;
    var finished = 0;
    trainer_results = {{ trainer_results }};
    // console.log(trainer_results[3]);
    for (var i = 0; i < trainer_results.length; i++) {
        trainer_id = trainer_results[i][0];
        // console.log(trainer_results[i]);
        doc_trainer = document.getElementById("trainer " + trainer_id.toString());
        started = trainer_results[i][1];
        finished = trainer_results[i][2];
        if (started == 1 && finished == 0){
            doc_trainer.classList.add("unfinished-trainer");
        } else if (started == 1 && finished == 1){
            doc_trainer.classList.add("finished-trainer");
        } else {
            doc_trainer.classList.add("unstarted-trainer");
        }
    }

    if ("{{ current_user.teacher }}" == "True"){
        input = document.getElementById("name");
        input.value = "{{ lesson_name }}";
    }
</script>
{% endblock %}
