{% extends "base.html" %}

{% block content %}

<h1>Статистика ученика: {{ pupil.name }}</h1>
<h3>Количество слов: {{ lesson_words_len }}</h3>
<h3>Количество тренажеров: {{ lesson_trainers_len }}</h3>
<h3>Количество тестов: {{ lesson_tests_len }}</h3>

<div style="display: flex;
		    flex-direction: column;
		    flex-wrap: wrap;
		    align-items: flex-start;
		    margin: 2vh;">
	<a class="btn btn-primary" href="/profile/{{ pupil.id }}">{{ pupil.email }}</a>
	<h3>Выучено слов: {{ words_learned }}</h3>
	<h3>Просмотрено слов: {{ words_viewed }}</h3>
	<h3>Пройдено тренажеров: {{ trainers_completed }}</h3>
	<h3>Непройденных тренажеров: {{ trainers_uncompleted }}</h3>
	<h3>Пройдено тестов: {{ tests_completed }}</h3>
	<h3>Непройденных тестов: {{ tests_uncompleted }}</h3>
</div>
{% endblock %}