<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <title>Mofang Chinese</title>

</head>
<body>
<main role="main" class="container">
    <style>
        .password-form {
            margin-top: 31vh;
        }
    </style>
        <form class="password-form" action="" method="post">
        {{ form.hidden_tag() }}
        <h1>Придумайте новый пароль</h1>
        <p>
            {{ form.password.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.password(class="form-control") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
            {{ form.password_again(class="form-control") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
</main>
</body>
</html>
