{% extends "base.html" %}

{% block content %}
<style>
    .column {
        float: left;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Clear floats after image containers */
    .row {
        width: 85%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .side-image {
        padding: 5px;
    }


</style>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.hieroglyph.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.hieroglyph(class="form-control", id="hieroglyph") }}<br>
        {% for error in form.hieroglyph.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    
    <p>
    {{ form.translation.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
    {{ form.translation(class="form-control", id="translation") }}<br>
    {% for error in form.translation.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p>
        {{ form.transcription.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.transcription(class="form-control", id="transcription") }}<br>
        {% for error in form.transcription.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.phrase_ch.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.phrase_ch(class="form-control", id="phrase_ch") }}<br>
        {% for error in form.phrase_ch.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.phrase_ru.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.phrase_ru(class="form-control", id="phrase_ru") }}<br>
        {% for error in form.phrase_ru.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <div style="display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;">
    <div class="column">
	    <div class="row">
	        <h2>Добавьте файл озвучки словосочетания</h2>
	        <input type="file" accept="audio/*"
	               class="form-control-file" id="phrase_audio" name="phrase_audio"
	               value='{{ phrase_audio_file }}' hidden>
	        <label id="phrase_audio_button" for="phrase_audio" style="min-width: 75px; min-height: 75px"
	               class="c-button">
	            <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
	                <polygon points="67,57 67,157, 157,107"
	                         style="fill:lime;fill-rule:evenodd;"/>
	            </svg>
	        </label>
	    </div>
	    <div class="row">
	        <h2>Добавьте файл озвучки перевода</h2>
	        <input type="file" accept="audio/*"
	               class="form-control-file" id="translation_audio" name="translation_audio"
	               value='{{ translation_audio_file }}' hidden>
	        <label id="translation_audio_button" for="translation_audio"
	               style="min-width: 75px; min-height: 75px"
	               class="c-button">
	            <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
	                <polygon points="67,57 67,157, 157,107"
	                         style="fill:lime;fill-rule:evenodd;"/>
	            </svg>
	        </label>
	    </div>
	    <div class="row">
	        <h2>Добавьте файл озвучки транскрипции</h2>
	        <input type="file" accept="audio/*"
	               class="form-control-file" id="transcription_audio"
	               name="transcription_audio" value='{{ transcription_audio_file }}' hidden>
	        <label id="transcription_audio_button" for="transcription_audio"
	               style="min-width: 75px; min-height: 75px"
	               class="c-button">
	            <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
	                <polygon points="67,57 67,157, 157,107"
	                         style="fill:lime;fill-rule:evenodd;"/>
	            </svg>
	        </label>
	    </div>
    </div>
    <div class="column">
        <input type="file" accept="image/*" onchange="fileLoader(event)"
               class="form-control-file"
               id="image" name="image" value="{{ image_file }}" hidden>
        <label class="btn-primary" for="image">
            <img class="side-image" id="image_output" width="100%" height="100%"
                 style="padding: 10px;
                        max-width: 441px;
                        max-height: 287px;"
                 src="{{ image_start_preview }}">
        </label>
    </div>
    </div>
    {{ form.submit(type="button", class="btn btn-primary", id="submit-button") }}
</form>
<script type="text/javascript" src="../static/data_parser.js"></script>
<script>
    var fileLoader = function(event) {
        var output = document.getElementById("image_output");
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    input = document.getElementById("hieroglyph");
    input.value = "{{ prev_hieroglyph }}";
    input = document.getElementById("translation");
    input.value = "{{ prev_translation }}";
    input = document.getElementById("transcription");
    input.value = "{{ prev_transcription }}";
    input = document.getElementById("phrase_ch");
    input.value = "{{ prev_phrase_ch }}";
    input = document.getElementById("phrase_ru");
    input.value = "{{ prev_phrase_ru }}";

    is_transcription_audio = '{{ is_transcription_audio }}';
    is_phrase_audio = '{{ is_phrase_audio }}';
    is_translation_audio = '{{ is_translation_audio }}';
    no_value_color = "red";
    value_color = "green";

    transcription_audio = document.getElementById("transcription_audio");
    image1 = document.getElementById("front_output");
    image2 = document.getElementById("right_output");
    image3 = document.getElementById("down_output");
    transcription_audio.addEventListener("change", function(event){
        button = document.getElementById("transcription_audio_button");
        val = transcription_audio.value;
        // alert(val);
        if (val != ""){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
            // alert("green");
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
            // alert("red");
        }
    }, false);
    button = document.getElementById("transcription_audio_button");
    if ( ((transcription_audio.value != "") || (is_transcription_audio)) == 'true' ){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


    translation_audio = document.getElementById("translation_audio");
    translation_audio.addEventListener("change", function(event){
        button = document.getElementById("translation_audio_button");
        val = translation_audio.value;
        image = document.getElementById("left_output");
        if (val != ""){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("translation_audio_button");
    image = document.getElementById("left_output");
    if (((translation_audio.value != "")  || (is_translation_audio)) == 'true'){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


    phrase_audio = document.getElementById("phrase_audio");
    image = document.getElementById("up_output");
    phrase_audio.addEventListener("change", function(event){
        button = document.getElementById("phrase_audio_button");
        image = document.getElementById("up_output");
        if (phrase_audio.value != "" || is_phrase_audio){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("phrase_audio_button");
    image = document.getElementById("up_output");
    if (((phrase_audio.value != "")  || (is_phrase_audio)) == 'true'){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }

    function checkWordUniqueness(){
    	all_words = json_all_words;
    	hieroglyph = document.getElementById("hieroglyph").value;
    	translation = document.getElementById("translation").value;
    	res = 0;
    	for (var i = 0; i < all_words.length; i++) {
    		if (hieroglyph == all_words[i]["hieroglyph"] && translation == all_words[i]["translation"]){
    			res = Math.max(3, res);
    		} else if (hieroglyph == all_words[i]["hieroglyph"]){
    			res = Math.max(2, res);
    		} else if (translation == all_words[i]["translation"]){
    			res = Math.max(1, res);
    		}
    	}
    	return res;
    }

    function submitButtonClick(event){
    	if (checkWordUniqueness() == 0) {
    		document.getElementById("submit-button").type = "submit";
    	} else {
    		if (checkWordUniqueness() == 2){
    			message = "Слово с таким иероглифом уже существует. Вы действительно хотите создать новую запись для этого иероглифа?"
    		} else if (checkWordUniqueness() == 1) {
    			message = "Слово с таким переводом уже существует. Вы действительно хотите создать новую запись для этого перевода?"
    		} else if (checkWordUniqueness() == 3) {
    			message = "Слово с таким иероглифом и переводом уже существует. Вы действительно хотите создать новую запись для этого слова?"
    		} 
    		var retVal = confirm(message);
            if( retVal == true ) {
              	document.getElementById("submit-button").type = "submit";
            } else {
                document.getElementById("submit-button").type = "button";
            }
    	}
    }
    document.getElementById("submit-button").addEventListener("click", submitButtonClick, false);

</script>
{% endblock %}
