{% extends "base.html" %}

{% block content %}
<style>
    .column {
        float: left;
        width: 20%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .side-image {
        padding: 5px;
    }


</style>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.hieroglyph.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.hieroglyph(class="form-control") }}<br>
        {% for error in form.hieroglyph.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.translation.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.translation(class="form-control", id="translation") }}<br>
        {% for error in form.translation.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.transcription.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.transcription(class="form-control", id="transcription") }}<br>
        {% for error in form.transcription.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.phrase_ch.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.phrase_ch(class="form-control", id="phrase_ch") }}<br>
        {% for error in form.phrase_ch.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.phrase_ru.label }}<span class="vnumgf" style="color: #d93025;">*</span><br>
        {{ form.phrase_ru(class="form-control", id="phrase_ru") }}<br>
        {% for error in form.phrase_ru.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <div class="column">
        <input type="file" accept="audio/*"
               class="form-control-file" id="phrase_audio" name="phrase_audio"
               value='{{ phrase_audio_file }}' hidden>
        <label id="phrase_audio_button" for="phrase_audio" style="min-width: 75px; min-height: 75px"
               class="c-button">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
                <polygon points="67,57 67,157, 157,107"
                         style="fill:lime;fill-rule:evenodd;"/>
            </svg>
        </label>
    </div>
    <div class="column">
        <input type="file" accept="audio/*"
               class="form-control-file" id="translation_audio" name="translation_audio"
               value='{{ translation_audio_file }}' hidden>
        <label id="translation_audio_button" for="translation_audio"
               style="min-width: 75px; min-height: 75px"
               class="c-button">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
                <polygon points="67,57 67,157, 157,107"
                         style="fill:lime;fill-rule:evenodd;"/>
            </svg>
        </label>
    </div>
    <div class="column">
        <input type="file" accept="audio/*"
               class="form-control-file" id="transcription_audio"
               name="transcription_audio" value='{{ transcription_audio_file }}' hidden>
        <label id="transcription_audio_button" for="transcription_audio"
               style="min-width: 75px; min-height: 75px"
               class="c-button">
            <svg aria-hidden="true" focusable="false" viewBox="0 0 200 200">
                <polygon points="67,57 67,157, 157,107"
                         style="fill:lime;fill-rule:evenodd;"/>
            </svg>
        </label>
    </div>
    <div class="column">
        <input type="file" accept="image/*" onchange="fileLoader(event)"
               class="form-control-file"
               id="image" name="image" value="{{ image_file }}" hidden>
        <label class="btn-primary" for="image">
            <img class="side-image" id="image_output" width="100%" height="100%" style="padding: 10px;"
                 src="{{ image_start_preview }}">
        </label>
    </div>
    {{ form.submit(type="submit", class="btn btn-primary") }}
</form>
<script>
    // fileLoaders = [0, 0, 0, 0, 0, 0, 0, 0]
    id_list = ['up_output', "left_output", "front_output", "right_output", "down_output",
               "transcription_audio_output", "phrase_audio_output"]
    start_values = []
    var fileLoader = function(event) {
        var output = document.getElementById("image_output");
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    translation_input = document.getElementById("hieroglyph");
    translation_input.value = "{{ prev_hieroglyph }}";
    translation_input = document.getElementById("translation");
    translation_input.value = "{{ prev_translation }}";

    // alert('{{ is_transcription_audio }}');
    is_transcription_audio = '{{ is_transcription_audio }}';
    is_phrase_audio = '{{ is_phrase_audio }}';
    is_translation_audio = '{{ is_translation_audio }}';
    no_value_color = "red";
    value_color = "green";

    transcription_audio = document.getElementById("transcription_audio");
    image1 = document.getElementById("front_output");
    image2 = document.getElementById("right_output");
    image3 = document.getElementById("down_output");
    transcription_audio.addEventListener("change", function(event){
        button = document.getElementById("transcription_audio_button");
        val = transcription_audio.value;
        // alert(val);
        if (val != ""){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
            // alert("green");
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
            // alert("red");
        }
    }, false);
    button = document.getElementById("transcription_audio_button");
    if ( ((transcription_audio.value != "") || (is_transcription_audio)) == 'true' ){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


    translation_audio = document.getElementById("translation_audio");
    translation_audio.addEventListener("change", function(event){
        button = document.getElementById("translation_audio_button");
        val = translation_audio.value;
        image = document.getElementById("left_output");
        if (val != ""){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("translation_audio_button");
    image = document.getElementById("left_output");
    if (((translation_audio.value != "")  || (is_translation_audio)) == 'true'){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


    phrase_audio = document.getElementById("phrase_audio");
    image = document.getElementById("up_output");
    phrase_audio.addEventListener("change", function(event){
        button = document.getElementById("phrase_audio_button");
        image = document.getElementById("up_output");
        if (phrase_audio.value != "" || is_phrase_audio){
            button.style = "min-width: 75px; min-height: 75px; background-color: green;";
        } else {
            button.style = "min-width: 75px; min-height: 75px; background-color: red;";
        }
    }, false);
    button = document.getElementById("phrase_audio_button");
    image = document.getElementById("up_output");
    if (((phrase_audio.value != "")  || (is_phrase_audio)) == 'true'){
        button.style = "min-width: 75px; min-height: 75px; background-color: green;";
    } else {
        button.style = "min-width: 75px; min-height: 75px; background-color: red;";
    }


</script>
{% endblock %}
