{% extends "base.html" %}

{% block content %}
<h1>Профиль пользователя</h1>
{% if not user.name and not user.last_name and not user.patronymic %}
    <h3>Данные не указаны</h3>
{% else %}
    {% if user.name %}
        <h3>Имя: {{ user.name }}</h3>
    {% else %}
        <h3>Имя не указано</h3>
    {% endif %}

    {% if user.last_name %}
        <h3>Фамилия: {{ user.last_name }}</h3>
    {% else %}
        <h3>Фамилия не указана</h3>
    {% endif %}

    {% if user.patronymic %}
        <h3>Отчество: {{ user.patronymic }}</h3>
    {% else %}
        <h3>Отчество не указано</h3>
    {% endif %}

    {% if user.about %}
        <h3>О пользователе</h3>
        <div id="user-about" class="user-about">
        </div>
    {% endif %}
{% endif %}

{% if user.teacher %}
    <h3>Пользователь является учителем</h3>
{% else %}
    <h3>Пользователь является учеником</h3>
{% endif %}
{% if is_owner %}
<a href="/change_data" class="btn btn-primary">Изменить данные</a>
<a href="/change_password" class="btn btn-primary">Изменить пароль</a>
<a href="/logout" class="btn btn-primary">Выйти из аккаунта</a>
<a href="/delete_user/{{ user.id }}" class="btn btn-primary">Удалить аккаунт</a>
{% else %}
    {% if current_user.id == user.creator %}
        <a class="btn btn-primary" href="/generate_link/{{ user.id }}">Создать ссылку для входа</a>
        <a class="btn btn-primary" href="/pupil/{{ user.id }}/courses">Добавить курсы ученику</a>
    {% endif %}
{% endif %}
<script>
    var user_about = {{ python_data|tojson }}.user_about;
    if (user_about){
        text_holder = document.getElementById("user-about");
        text_holder.innerText = user_about;
    }
</script>
{% endblock %}
