{% extends "base.html" %}

{% block content %}
<h1>Введите вашу почту, на которую мы отправим письмо с сылкой на страницу сброса пароля</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
        <div class="message-container">{{ message }}</div>
    {% endif %}
</form>
{% endblock %}
