{% extends "base.html" %}

{% block content %}

<h1 style="margin-bottom: 2rem;">Выберете тесты для добавления к уроку</h1>
<form action="" method="post" name="checks">
    {{ form.hidden_tag() }}
    <div style="display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;">
        {% for i in range(len_tests) %}
        {% if tests[i] in lesson_tests %}
        <button id="test {{ i }}" style="background-color: green;"
                name="lesson_test" type="button" class="btn btn-main"
                value="{{ tests[i].id }}">
            {{ tests[i].name }}
        </button>
        <input id="input of test {{ i }}" hidden type="checkbox" checked="checked"
               name="lesson_test"
               value='{{ tests[i].id }}'>
        {% else %}
        <button id="test {{ i }}" name="not_lesson_test" type="button" class="btn btn-main"
                value="{{ tests[i].id }}">{{ tests[i].name }}
        </button>
        <input id="input of test {{ i }}" hidden type="checkbox" checked="checked"
               name="not_lesson_test" value='{{ tests[i].id }}'>
        {% endif %}
        {% endfor %}

    </div>
    <p>{{ form.submit(type="submit", class="btn btn-main") }}</p>
</form>
<script>
    function onLessonTestButtonClick(event){
        prev_name = event.target.name
        input_of_button = document.getElementById("input of " + event.target.id);
        if (prev_name == "lesson_test") {
            event.target.name = "not_lesson_test";
            event.target.style = "background-color: var(--red)";
            input_of_button.name = "not_lesson_test";
        } else {
            event.target.name = "lesson_test";
            event.target.style = "background-color: var(--green)";
            input_of_button.name = "lesson_test";
        }
    }
    for (let i = 0; i < {{ len_tests }}; i++){
        lesson_test_button = document.getElementById("test " + i.toString());
        lesson_test_button.addEventListener("click", onLessonTestButtonClick, false);
    }


</script>
{% endblock %}
