{% extends "base.html" %}

{% block content %}
<div class="main-div-container">
{% if current_user.teacher %}
    <form action="" method="post" name="checks">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<span class="vnumgf required-field-span">*</span><br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <div class="lesson-top-buttons-line">
            <div>
                {{ form.submit(type="submit", class="btn btn-main centered-button") }}
            </div>
            <div>
                <a href="/course/{{ course_id }}/lesson_statistics/{{ lesson_data.id }}" class="btn btn-main lesson-button info-button">
                    Статистика урока
                </a>
            </div>
        </div>
        {% if message %}
            <div class="message-container">{{ message }}</div>
        {% endif %}
    </form>
{% else %}
    <div class="center-header-box">
        <h1 class="text-header">{{ lesson_name }}</h1>
    </div>
{% endif %}
<div class="add-item-group">
    <h2 class="lesson-view-heading" id="items-heading">Материалы урока</h2>
</div>
<div class="items-row" id="items-row">
    <h3 id="items-not-found-heading" hidden>Слова не добавлены</h3>
</div>
{% if current_user.teacher %}
    <div class="add-item-box">
        <a class="btn btn-add" href="/add_words_to_lesson/{{ lesson_data.id }}">Добавить слова</a>
    </div>
{% endif %}
<div class="page-buttons-box">
    <div class="page-buttons-row" id="pages-row">
        <div class="page-buttons-container" id="start-page-buttons-container">
        </div>  
        <div class="page-buttons-container" id="nums-page-buttons-container">
        </div>  
        <div class="page-buttons-container" id="end-page-buttons-container">
        </div>  
    </div>
</div>
<div class="lesson-tasks">
    <div class="lesson-task-column">
        {% if not lesson_data.trainers %}
        <h3 class="lesson-view-heading">Тренажеры не добавлены</h3>
        {% else %}
        <h2 class="lesson-view-heading">Тренажеры урока</h2>
        {% endif %}
        {% for trainer in lesson_data.trainers %}
            <div class="task-buttons">
                <a href="/course/{{ course_id }}/lesson/{{ lesson_data.id }}/trainer/{{ trainer.id }}"
                   class="btn btn-main item-button" style="min-width: 250px; margin-bottom: 10px;" id="trainer {{ trainer.id }}">
                    {{ trainer.name }}
                </a>
                {% if current_user.teacher %}
                    <a href="/delete_trainer_from_lesson/{{ lesson_data.id }}/{{ trainer.id }}"
                       class="btn btn-danger btn-delete trainer-delete-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        {% if current_user.teacher %}
        <div class="add-task-button">
            <a class="btn btn-add" href="/add_trainers_to_lesson/{{ lesson_data.id }}">Добавить
                тренажеры</a>
        </div>
        {% endif %}
    </div>
    <div class="lesson-task-column">
        {% if not lesson_data.tests %}
        <h3 class="lesson-view-heading">Тесты не добавлены</h3>
        {% else %}
        <h2 class="lesson-view-heading">Тесты урока</h2>
        {% endif %}

        {% for test in lesson_data.tests %}
            <div class="task-buttons test-list-buttons">
                <a href="/course/{{ course_id }}/lesson/{{ lesson_data.id }}/test/{{ test.id }}"
                   class="btn btn-main item-button unstarted-trainer" style="min-width: 250px" id="test {{ test.id }}">
                    {{ test.name }}
                </a>
                <h3 class="test-result-header" id="test result {{ test.id }}"> 0%</h3>
                {% if current_user.teacher %}
                <a href="/delete_test_from_lesson/{{ lesson_data.id }}/{{ test.id }}"
                   class="btn btn-danger btn-delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
                {% endif %}
            </div>
        {% endfor %}

        {% if current_user.teacher %}
            <div class="add-task-button">
                <a class="btn btn-add" href="/add_tests_to_lesson/{{ lesson_data.id }}">Добавить тесты</a>
            </div>
        {% endif %}
    </div>
</div>
<div class="lesson-bottom-buttons-line">
    <div class="next-lesson-href-box">
        {% if prev_les_id %}
            <a class="btn btn-main" href="/course/{{ course_id }}/lesson/{{ prev_les_id }}">Предыдущий урок</a>
        {% endif %}
    </div>
    <div class="next-lesson-href-box">
        {% if next_les_id %}
            <a class="btn btn-main" href="/course/{{ course_id }}/lesson/{{ next_les_id }}">Следующий урок</a>
        {% endif %}
    </div>
</div>
<script src="/static/templates_js/items_view.js"></script>
<script src="/static/templates_js/word_items_funtions.js"></script>
<script>
    function createItemButtons(item_list){
        deleteItemButtons();
        if (item_list.length == 0) {
            document.getElementById("items-not-found-heading").hidden = false;
            document.getElementById("items-heading").hidden = true;
            return;
        } else {
            document.getElementById("items-not-found-heading").hidden = true;
            document.getElementById("items-heading").hidden = false;
        }
        for (let i = 0; i < item_list.length; i += 1){
            column = document.createElement("div")
            column.id = "item-container " + (i).toString();
            column.classList.add("item-container");

            item_button = document.createElement("a");
            item_button.id = "item_button " + i.toString();
            item_button.type = "button";
            item_button.href = "/course/{{ course_id }}/lesson_word/{{ lesson_data.id }}/word/" + item_list[i]["id"];
            item_button.classList.add("btn");
            item_button.classList.add("btn-main");
            item_button.classList.add("item-button");
            item_button.classList.add("user-item-button");
            item_button.innerText = item_list[i]["hieroglyph"] + ' ' + item_list[i]["translation"];
            button_id = item_list[i].id;
            if (words_learn_states[button_id] == 0){
                item_button.style = "color: var(--contrast-orange);background-color: var(--orange);";
            } else if (words_learn_states[button_id] == 1) {
                item_button.style = "color: var(--contrast-yellow);background-color: var(--yellow);";
            } else if (words_learn_states[button_id] == 2) {
                item_button.style = "color: var(--contrast-green);background-color: var(--green);";
            }
            column.appendChild(item_button);

            if ("{{ current_user.teacher }}" == "True"){
                delete_but = document.createElement("a");
                delete_but.id = 'delete ' + i.toString();
                delete_but.href = "/delete_word_from_lesson/{{ lesson_data['id'] }}" + "/" + item_list[i]["id"];
                delete_but.classList.add("btn");
                delete_but.classList.add("btn-danger");
                delete_but.classList.add("btn-delete");
                trash_icon = document.createElementNS('http://www.w3.org/2000/svg',"svg");
                trash_icon.setAttributeNS(null, "width", "16");
                trash_icon.setAttributeNS(null, "fill", "currentColor");
                trash_icon.setAttributeNS(null, "class", "bi bi-trash");
                // trash_icon.classList.add("bi-trash");
                trash_icon.setAttributeNS(null, "viewBox", "0 0 16 16");
                newpath1 = document.createElementNS('http://www.w3.org/2000/svg',"path");
                newpath2 = document.createElementNS('http://www.w3.org/2000/svg',"path");
                newpath1.setAttributeNS(null, "d", "M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z");
                newpath2.setAttributeNS(null, "fill-rule", "evenodd");
                newpath2.setAttributeNS(null, "d", "M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z");
                trash_icon.appendChild(newpath1);
                trash_icon.appendChild(newpath2);
                delete_but.appendChild(trash_icon);
                column.appendChild(delete_but);
            }
            document.getElementById("items-row").appendChild(column);
        }
    }

    var max_items_number_on_one_page = {{ max_items_number_on_one_page }};
    var current_user_id = {{ current_user.id }};
    var items_js = {{ items_js|tojson }};

    var filter_button_state = 0;
    var current_page = 1;

    items_lists = [items_js.all_items]
    var words_learn_states = {{ words_learn_states }};

    page_numbers = []
    for (let i = 0; i < items_lists.length; i++){
        page_number = pageNumberCount(items_lists[i]);
        page_numbers.push(page_number);
    }
    page_lists = []
    for (let i = 0; i < items_lists.length; i++){
        page_items = items_lists[i].slice(max_items_number_on_one_page * (current_page - 1),
        max_items_number_on_one_page * current_page);
        page_lists.push(page_items);
    }

    current_item_list = items_lists[filter_button_state];
    current_page_item_list = page_lists[filter_button_state];
    current_page_max_number = page_numbers[filter_button_state];

    createItemButtons(current_page_item_list);
    if (current_page_max_number > 1){
        createPageButtons();
    }
    
    test_results = {{ test_results }};
    for (let i = 0; i < test_results.length; i++){
        res = test_results[i];
        test_res_id = "test result " + res[0].toString();
        display = document.getElementById(test_res_id);
        if (display){
            percents = (Math.round((res[2] / items_lists[0].length) * 100)).toString();
            if (percents == "Infinity"){percents = "0";}
            if (parseInt(percents) > 100){percents = "100";}
            percents += "%";
            display.innerText = percents;

            string = "test " + res[0].toString();
            doc_test = document.getElementById(string);
            if (percents == "0%"){
                doc_test.classList.add("unstarted-trainer");
            } else if (percents == "100%"){
                doc_test.classList.add("finished-trainer");
            } else {
                doc_test.classList.add("unfinished-trainer");
            }
        }
    }

    var started = 0;
    var finished = 0;
    trainer_results = {{ trainer_results }};
    for (var i = 0; i < trainer_results.length; i++) {
        trainer_id = trainer_results[i][0];
        doc_trainer = document.getElementById("trainer " + trainer_id.toString());
        started = trainer_results[i][1];
        finished = trainer_results[i][2];
        if (started == 1 && finished == 0){
            doc_trainer.classList.add("unfinished-trainer");
        } else if (started == 1 && finished == 1){
            doc_trainer.classList.add("finished-trainer");
        } else {
            doc_trainer.classList.add("unstarted-trainer");
        }
    }

    if ("{{ current_user.teacher }}" == "True"){
        input = document.getElementById("name");
        input.value = "{{ lesson_name }}";
    }
</script>
{% endblock %}
