{% extends "base.html" %}

{% block content %}

<h1>Выберете тренажеры для добавления к уроку</h1>
<form action="" method="post" name="checks">
    {{ form.hidden_tag() }}
    <div style="display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;">
        {% for i in range(len_trainers) %}
        {% if trainers[i] in lesson_trainers %}
        <button id="train {{ i }}" style="background-color: green;"
                name="lesson_trainer" type="button" class="btn btn-primary"
                value="{{ trainers[i].id }}">
            {{ trainers[i].name }}
        </button>
        <input id="input of train {{ i }}" hidden type="checkbox" checked="checked"
               name="lesson_trainer"
               value='{{ trainers[i].id }}'>
        {% else %}
        <button id="train {{ i }}" name="not_lesson_trainer" type="button" class="btn btn-primary"
                value="{{ trainers[i].id }}">{{ trainers[i].name }}
        </button>
        <input id="input of train {{ i }}" hidden type="checkbox" checked="checked"
               name="not_lesson_trainer" value='{{ trainers[i].id }}'>
        {% endif %}
        {% endfor %}

    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
<script>
    function onLessonTrainButtonClick(event){
        prev_name = event.target.name
        input_of_button = document.getElementById("input of " + event.target.id);
        if (prev_name == "lesson_trainer") {
            event.target.name = "not_lesson_trainer";
            event.target.style = "background-color: #007bff";
            input_of_button.name = "not_lesson_trainer";
        } else {
            event.target.name = "lesson_trainer";
            event.target.style = "background-color: green";
            input_of_button.name = "lesson_trainer";
        }
    }
    for (let i = 0; i < {{ len_trainers }}; i++){
        lesson_trainer_button = document.getElementById("train " + i.toString());
        lesson_trainer_button.addEventListener("click", onLessonTrainButtonClick, false);
    }


</script>
{% endblock %}
