body {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #33;
}

.header {
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar-brand {
    color: #9c1313;
    position: relative;
}

.navbar-brand:hover {
    color: white;
    background-color: #9c1313;
}
.btn {
    margin: 0 10px;
    margin-bottom: 10px;
    width: 155px;
}
.btn-primary {
    display: inline-block;
    vertical-align: top;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #9c1313;
    border: solid 3px white;
    border-radius: 10px;
}
.btn-white:hover {
    color: white;
    background-color: #9c1313;
}
.btn-white {
    display: inline-block;
    vertical-align: top;
    color: #9c1313;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    border: solid 3px #9c1313;
    border-radius: 10px;
}

.btn-primary:focus {
    display: inline-block;
    vertical-align: top;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #9c1313;
    border: solid 3px white;
    border-radius: 10px;
}
.btn-white:focus {
    display: inline-block;
    vertical-align: top;
    color: #9c1313;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    border: solid 3px #9c1313;
    border-radius: 10px;
}

.btn-primary:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-primary:hover {
    background-color: white;
    color: #9c1313;
    border: solid 3px #9c1313;
}
.btn-success {
    color: #fce38a;
}

.btn-add {
    color: #fce38a;
    background-color: #4CAF50;
    border: none;
    color: white;
}
.btn-delete{
    width: 45px;
    border: 3px white solid;
    border-radius: 10px;
}
.course-card {
    width: auto;
    height: auto;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

.card-body{
    background-color: white;
    border: solid 3px #9c1313;
}
.card-title{
    width: 260px;
    height: 24px;
    overflow:hidden;
}
.card-text{
    width: 260px;
    height: 22.5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lesson-card{
    height: 90px;

    border-style: solid;
    border-color: #9c1313;
    margin: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    padding: 24px 24px 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.c-button {

    min-width: 50px;
    min-height: 50px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;

    cursor: pointer;
    border-radius: 50%;
}

.c-button:hover {
  background: #1d49aa;
}

.my-btn {

}

© 2022 GitHub, Inc.
