:root {
  --red: #9C1313;
  --orange: #FF660C;
  --yellow: #ffc107;
  --green: #158903;
  --blue: #006AFF;
  --contrast-red: white;
  --contrast-orange: white;
  --contrast-yellow: #3E2314;
  --contrast-green: white;
  --contrast-blue: white;
}

body {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #33;
}

.header {
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar-brand {
    color: var(--red);
    position: relative;
}

.navbar-brand:hover {
    color: var(--contrast-red);
    background-color: var(--red);
}
.btn {
    margin: 0 10px;
    margin-bottom: 10px;
    width: auto;
}
.btn-primary {
    white-space: nowrap;
    text-align: center;
    min-width: 45px;
    min-height: 45px;
    display: inline-block;
    vertical-align: top;
    color: var(--contrast-red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--red);
    border: solid 3px var(--contrast-red);
    border-radius: 10px;
}

.btn-warning {
    color: var(--contrast-yellow);
    background-color: var(--yellow);
    white-space: nowrap;
    text-align: center;
    min-width: 45px;
    min-height: 45px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 3px white;
    border-radius: 10px;
}

.btn-white:hover {
    color: var(--contrast-red);
    background-color: var(--red);
}
.btn-white {
    display: inline-block;
    vertical-align: top;
    color: var(--red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--contrast-red);
    border: solid 3px var(--red);
    border-radius: 10px;
}

.btn-primary:focus {
    display: inline-block;
    vertical-align: top;
    color: var(--contrast-red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--red);
    border: solid 3px white;
    border-radius: 10px;
}

.btn-white:focus {
    display: inline-block;
    vertical-align: top;
    color: var(--red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--contrast-red);
    border: solid 3px var(--red);
    border-radius: 10px;
}

.btn-primary:active {
    box-shadow: 0 5px #666;
    background-color: var(--red);
    transform: translateY(4px);
}

.btn-primary:hover {
    background-color: var(--contrast-red);
    color: var(--red);
    border: solid 3px var(--red);
}
.btn-success {
    color: var(--contrast-green);
    background-color: var(--green);
}

.btn-add {
    background-color: var(--green);
    border: none;
    color: var(--contrast-green);
}
.btn-delete{
    width: 45px;
    height: 45px;
    border: 3px white solid;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.course-card {
    width: auto;
    height: auto;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

.card-body{
    background-color: white;
    border: solid 3px var(--red);
}
.card-title{
    width: 260px;
    height: 24px;
    overflow:hidden;
}
.card-text{
    width: 260px;
    height: 22.5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lesson-card {
    width: 71vh;
    border-style: solid;
    border-color: var(--red);
    margin: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.c-button {
    min-width: 50px;
    min-height: 50px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;

    cursor: pointer;
    border-radius: 50%;
}

.c-button:hover {
  background: #1d49aa;
}

.search-group{
    width: 45%;
    display: flex;
}

.bottom-t{
    margin: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-t-first-layer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.long-buttons{
    width: fit-content;
}
.info-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--contrast-blue);
}
.info-button:hover {
    border: solid 3px var(--blue);
    background-color: var(--blue);
}
.info-svg {
    fill:var(--contrast-blue);
}
.added-item {
    background-color: var(--green);
    width: 100%;
}
.added-item:not(:disabled):not(.disabled):active {
    color: var(--contrast-green);
    background-color: var(--green);
    border-color: var(--green);
}
.added-item:hover {
    background-color: var(--contrast-green);
    color: var(--green);
    border: solid 3px var(--green);
}
.added-item:focus {
    color: var(--contrast-green);
    background-color: var(--green);
    border-color: var(--green);
}
.not-added-item {
    background-color: var(--red);
    width: 100%;
}
.not-added-item:not(:disabled):not(.disabled):active {
    color: var(--contrast-red);
    background-color: var(--red);
    border-color: var(--red);
}
© 2022 GitHub, Inc.

