.added-item {
    background-color: var(--green);
}

.added-item:not(:disabled):not(.disabled):active {
    color: var(--contrast-green);
    background-color: var(--green);
    border-color: var(--green);
}

.added-item:hover {
    background-color: var(--contrast-green);
    color: var(--green);
    border: solid 3px var(--green);
}

.added-item:focus {
    color: var(--contrast-green);
    background-color: var(--green);
    border-color: var(--green);
}

.not-added-item {
    background-color: var(--red);
}

.not-added-item:not(:disabled):not(.disabled):active {
    color: var(--contrast-red);
    background-color: var(--red);
    border-color: var(--red);
}
