:root {
  --red: #9C1313;
  --backgrpund-red: #f8d7da;
  --bright-red: #d93025;
  --dark-red: #721c24;
  --orange: #FF660C;
  --yellow: #ffc107;
  --green: #158903;
  --blue: #006AFF;
  --contrast-red: white;
  --contrast-orange: white;
  --contrast-yellow: #3E2314;
  --contrast-green: white;
  --contrast-blue: white;

  --min-window-size: 400px;
}

body {
    font-family: font-family: times New Roman;
    font-size: 15px;
    color: #33;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: var(--min-window-size);
    justify-content: flex-start;
}

.upper-navbar {
    display: flex;
    justify-content: space-between;
    min-width: var(--min-window-size);
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand {
    margin: 0px 10px 10px 10px;
}

.nav-btn {
    font-size: large;
    margin: 10px;
}

.navbar-brand:hover {
    color: var(--contrast-red);
    background-color: var(--red);
}

.main-div-container {
    display: block;
    min-width: var(--min-window-size);
    margin: 0 auto;
}

.message-container {
    background-color: var(--backgrpund-red);
    border-radius: 6px;
    margin-bottom: 2em;
    padding: 16px 16px;
    color: var(--dark-red);
}

.message-page-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.required-field-span {
    color: var(--bright-red);
}

.message-page-header {
    margin: 2.5rem;
    font-size: xxx-large;
    text-align: center;
}

.message-page-text {
    text-align: center;
    margin-bottom: 1.5rem;
}

.message-page-help-text {
    text-align: center;
    margin-bottom: 2.5rem;
}

.centering-box {
    flex: 1;
}
