:root {
    --red: #9C1313;
    --background-red: #f8d7da;
    --background-grey: #c9c9c9;
    --bright-red: #d93025;
    --dark-red: #721c24;
    --orange: #FF660C;
    --yellow: #ffc107;
    --green: #158903;
    --blue: #006AFF;
    --contrast-red: white;
    --contrast-orange: white;
    --contrast-yellow: #3E2314;
    --contrast-green: white;
    --contrast-blue: white;

    --min-window-size: 400px;
}

body {
    font-family: system-ui;
    font-size: medium;
    color: #33;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-container {
    margin-bottom: 1.5rem;
}

.nav-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: var(--min-window-size);
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.upper-navbar {
    display: flex;
    justify-content: space-between;
    min-width: var(--min-window-size);
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand {
    margin: 0px 10px 10px 10px;
}

.nav-btn {
    font-size: large;
    margin: 10px;
}

.navbar-brand:hover {
    color: var(--contrast-red);
    background-color: var(--red);
}

.main-div-container {
    display: block;
    min-width: var(--min-window-size);
    margin: 0 auto;
}

.message-container {
    background-color: var(--background-red);
    border-radius: 6px;
    margin-bottom: 2em;
    padding: 16px 16px;
    text-align: center;
    color: var(--dark-red);
    font-size: medium;
}

.message-page-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.required-field-span {
    color: var(--bright-red);
}

.message-page-header {
    margin: 2.5rem;
    font-size: xxx-large;
    text-align: center;
}

.message-page-text {
    text-align: center;
    margin-bottom: 1.5rem;
}

.message-page-help-text {
    text-align: center;
    margin-bottom: 2.5rem;
}

.centering-box {
    flex: 1;
}

.form-control {
    font-size: 1.2rem;
}

.page-header {
    margin: 2rem;
}

.header-container {

}

.text-header {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

a:not([href]) {
    color: var(--contrast-red);
}

.center-header-box {
    text-align: center;
    margin: 1rem;
}

.text-container {
    margin: 3rem 1rem;
    padding: 1rem;
    border: 4px solid var(--red);
}

.text-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px var(--red);
    padding: 0.5rem;
}

.text-table {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--red);
    margin: 1rem;
}

.statistics-message-container {
    margin: 1rem;
    padding: 0.5rem;
}

.statistics-message {
    text-align: center;
}
