.btn {
    margin: 0 10px;
    margin-bottom: 10px;
    width: auto;
}

.btn-main {
    font-size: medium;
    white-space: nowrap;
    text-align: center;
    min-width: 45px;
    min-height: 45px;
    display: inline-block;
    vertical-align: top;
    color: var(--contrast-red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--red);
    border: solid 3px var(--contrast-red);
    border-radius: 10px;
}

.btn-main:focus {
    display: inline-block;
    vertical-align: top;
    color: var(--contrast-red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--red);
    border: solid 3px white;
    border-radius: 10px;
}

.btn-main:active {
    box-shadow: 0 5px #666;
    background-color: var(--red);
    transform: translateY(4px);
}

.btn-main:hover {
    background-color: var(--contrast-red);
    color: var(--red);
    border: solid 3px var(--red);
}

.btn-warning {
    color: var(--contrast-yellow);
    background-color: var(--yellow);
    white-space: nowrap;
    text-align: center;
    min-width: 45px;
    min-height: 45px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 3px white;
    border-radius: 10px;
}

.btn-white {
    font-size: medium;
    display: inline-block;
    vertical-align: top;
    color: var(--red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--contrast-red);
    border: solid 3px var(--red);
    border-radius: 10px;
}

.btn-white:hover {
    color: var(--contrast-red);
    background-color: var(--red);
}

.btn-white:focus {
    display: inline-block;
    vertical-align: top;
    color: var(--red);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--contrast-red);
    border: solid 3px var(--red);
    border-radius: 10px;
}

.btn-success {
    color: var(--contrast-green);
    background-color: var(--green);
}

.btn-add {
    display: flex;
    min-height: 45px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--green);
    border: solid 3px var(--contrast-green);
    color: var(--contrast-green);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-add:focus {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--green);
    border: solid 3px var(--contrast-green);
    color: var(--contrast-green);
}

.btn-add:active {
    background-color: var(--contrast-green);
    color: var(--green);
    border: solid 3px var(--green);
}

.btn-add:hover {
    background-color: var(--contrast-green);
    color: var(--green);
    border: solid 3px var(--green);
}

.btn-delete{
    width: 45px;
    height: 45px;
    border: 3px white solid;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.centered-button {
    margin: 10px;
}

.submit-btn {
    margin-bottom: 0px;
}

.c-button {
    min-width: 50px;
    min-height: 50px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;

    cursor: pointer;
    border-radius: 50%;
}

.c-button:hover {
  background: #1d49aa;
}

.long-buttons{
    width: fit-content;
}

.info-button {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--contrast-blue);
}

.info-button:hover {
    border: solid 3px var(--blue);
    background-color: var(--blue);
}

.info-svg {
    fill:var(--contrast-blue);
}

.full-red-btn {
    border-color: var(--red);
}
