.bottom-t {
    margin: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-t-first-layer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.lesson-tasks {
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.lesson-task-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 1rem;
}

.lesson-task-button{
    width: 250px;
}

.trainer-delete-button {
    margin-left: 0px;
    margin-bottom: 10px;
}

.trainer-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.test-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pupil-stats-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vh;
}

.pupil-stats-holder {
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2vh;
}

.pupil-statistics-button {
    max-width: 350px;
}
