{% extends "base.html" %}

{% block content %}
    <form class="password-form" action="" method="post">
        {{ form.hidden_tag() }}
        <h1 class="password-header">Подтвердите пароль</h1>
        <p>
            {{ form.old_password.label }}<span class="vnumgf required-field-span">*</span><br>
            {{ form.old_password(class="form-control") }}<br>
            {% for error in form.old_password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <h1 class="password-header">Придумайте пароль</h1>
        <p>
            {{ form.password.label }}<span class="vnumgf required-field-span">*</span><br>
            {{ form.password(class="form-control") }}<br>
            {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<span class="vnumgf required-field-span">*</span><br>
            {{ form.password_again(class="form-control") }}<br>
            {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-main") }}</p>
        {% if message %}
            <div class="message-container">{{ message }}</div>
        {% endif %}
    </form>
{% endblock %}
