{% extends "base.html" %}

{% block content %}
<style>
    .main-container {
        height: 100vh;
        display: grid;
        width: min-content;
        align-items: center;
        margin: auto;
        padding-right: 0px;
        padding-left: 0px;
    }
    .login-page {
        padding: 16px;
        width: 475px;
    }
    .login-page-content {
        box-sizing: border-box;
        border-style: solid;
        border-color: #3A3542;
        padding: 15px;
        background-color: #c9c9c9;
        margin: auto;
    }
</style>
<div class="login-page">
    <div class="login-page-content">
        <h1 class="page-title">Войдите в аккаунт</h1>
        <div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}
                    <span class="vnumgf required-field-span">*</span><br>
                    {{ form.email(class="form-control", type="email") }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }} <span class="vnumgf required-field-span">*</span><br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                {% if message %}
                <div class="message-container">{{ message }}</div>
                {% endif %}
                <div class="sign-in-container">
                    <div style="display: flex;
                                align-items: center;
                                justify-content: center;
                                align-content: center;">{{ form.remember_me() }} {{ form.remember_me.label(class="remember-me-label") }}
                    </div>
                    <div class="sign-in-button-container">{{ form.submit(type="submit", class="btn
                        btn-main submit-btn") }}
                    </div>
                    <div style="margin-left: 0.5rem">
                        <a href="/reset_password">Забыли пароль?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
