{% extends "base.html" %}

{% block content %}

<h1>Создать курс</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<span class="vnumgf required-field-span">*</span><br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="textarea form-control") }}<br>
        {% for error in form.about.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-main") }}</p>
    {{message}}
</form>
{% endblock %}
